<h2 class="personalLabel ">Favourite Technique</h2>

<div class="favTechToggle d-flex justify-content-center"
     data-bs-toggle="collapse"
     data-bs-target="#collapseWrap"
     aria-expanded="false"
     aria-controls="collapseWrap">
    <h3 class="text-center"> {{ UserProfile.favTechnique }} </h3>
    <span class="choiceArrowBtn mx-3">
        <i class="bi bi-arrow-down"></i>
    </span>
</div>

<div id="collapseWrap"  class="collapse">
    <div class="mt-2 techniquesSearch d-flex align-items-center pb-1 position-relative">
        <i class="bi bi-search"></i>
        <input class="searchBox py-1 " type="text" placeholder="Search ">
    </div>

     <ul class="select techniquesOptions  w-100 px-3 ">
        {% for x in form.favTechnique %}
            <li class="text-center techniqueOption  list-group-item d-flex
            align-items-center justify-content-between mb-1 d-block">

                <label class=" w-100 h-100">
                    {{x.tag}}
                    {{x.choice_label}}
                </label>

            </li>
        {% endfor %}
     </ul>
</div>