
<div class="firstName px-3 py-1">
    {% for item in form.firstName %}
        <label class=" overflow-hidden">
{#                                    <h2 class="personalLabel">First name</h2>#}
            {{ item.tag }}
        </label>
    {% endfor %}
</div>

<div class="lastName px-3 py-1">
    {% for item in form.lastName %}
        <label class=" overflow-hidden">
{#                                    <h2 class="personalLabel">Last name </h2>#}
            {{ item.tag }}
        </label>
    {% endfor %}
</div>

{#<div class="d-none showOnProfile pb-3 h-100 align-items-center justify-content-center h-100">#}
{#    <h2 class="personalLabel ">Show on profile</h2>#}
{##}
{#        {% include 'myaccount/onOffToggle.html' %}#}
{##}
{#</div>#}
{##}
