{% load static %}

<div class="accountcontent d-flex flex-column w-100 h-100 flex-wrap ">
    <div class="personalInfo position-relative h-100 ">

        <div class="profileBackground w-100 ">

            {% if success %}
                <div class="savedWrap bg-success px-3">
                    <i class="bi bi-check2 fa-2x"></i>
                    <h4>Saved correctly</h4>
                </div>
            {% endif %}
        </div>

        <form enctype="multipart/form-data"
              class="h-100"
              hx-target=".AccountContentWrapper"
              hx-post="."
              hx-trigger="change delay:500ms, submit">
            {{ csrf.token }}

            <div class="row h-100 ">
                <div class="col-md-6 d-flex align-items-center justify-content-start flex-column">
                    {% include 'myaccount/profile_profileInfo.html' %}
                    {% include 'myaccount/profile_leftColumn.html' %}
                </div>

                <div class="rightSideProfile col-md-6 py-3 px-3 ">
                    <div class=" px-0 mt-lg-3 yourBelt  w-100 pr-lg-5  d-flex flex-column align-items-center
                          px-lg-5">
                        {% include 'myaccount/profile_yourBelt.html' %}
                        <div class=" profilePicture smallProfile  profile  "
                         style="background-image: url({{ club.avatar.url }})">
                        </div>
                        {{ club.avatar.url }}
                    </div>
{#                    <input type="submit">#}
                </div>


            </div>
        </form>


    </div>
</div>