:root {
    --navHeight: 90px;
    --nav-width: 69px;
    /*--first-color: #5e71f2;*/
    /*--first-color: #4723D9;*/
    --first-color: #5E3EE0;
    --first-color-light: #CCCCCC;
    /*--first-color-light: #AFA5D9;\*/
    --cyanBlueFooter : #00b4d8;
    --paleBlack : #191919;
    --white-color: #F7F6FB;
    --active:	#C8C8C8;
    --normal-font-size: 1rem;
    --darkPurple: #3A0CA3;
    --SMgridHeight: 29.5vh !important;
    --MDgridHeight: 250px; !important;
    /*--MDgridHeight: 28vh !important;*/
    --XLgridHeight: 26vh !important;

    --SMsectionHeight: calc(var(--SMgridHeight) * 7.777);
    --MDsectionHeight: calc(var(--SMgridHeight) * 4.5);
    --XLsectionHeight: calc(var(--XLgridHeight) * 4);
}

/*@media (max-width: 600px) {*/
/*    .navPadding {*/
/*        padding-top: 35% !important;*/
/*    }*/
/*}*/
.zIndex35{
    z-index:35;
}
.navPadding {
    padding-top: calc(var(--navHeight) + 30px) !important;
    /*padding-top: var(--navHeight);*/
}

body, html {
    overflow-x: hidden !important;
    padding: 0 !important;
    margin: 0 !important;


}

body {
    font-family: "Roboto", sans-serif;
    /*font-family: 'Rajdhani', sans-serif !important;*/
    /*font-weight:600;*/
    font-size: 22px;
    /*background-color: #f2f3f4;*/
    background-color: #240046   ;

    scrollbar-gutter: stable ;

}
html{


     width: 100vw;
}
/* ========= FONTS =============*/

.BJR, .JRLN, .navStyling, .accountcontent, .Clubscontent {
    font-family: 'Rajdhani', sans-serif !important;
    /*300;400;500;600;700*/
    font-weight: 600;
}

.navStyling {

    font-weight: 500;
    letter-spacing: 0.092em;
    z-index: 100;
    /*!*font-family: 'Roboto', serif*!*/
    /*font-family: 'Source Sans Pro', sans-serif;*/
    /*ExtraLight 200
    /*Light 300*/
    /*Regular 400*/
    /*Regular 400 Italic*/
    /*SemiBold 600*/
    /*SemiBold 600 Italic*/
    /*Bold 700*/
    /**!*/
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-700 {
    font-weight: 700;
}

.font-weight-800 {
    font-weight: 700;
}

/* ============= */
/*.col-lg-2-5 { width: 20.83333%;}*/
/*.col-md-9-5 { width: 79.16667%; }*/
*, *::before, *::after {
    box-sizing: border-box;
}

.fitIMG, .fitIMG img, .img-buddha, .silhouette img, .countSection img,
.wrapper img, .yourSessionsType img, .beltIMG img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    border: none;
}

.alertBox {
    position: fixed;
    z-index: 9999;
    min-height: 10vh;
    max-height: 14vh;
    padding: 0 10vw;

}

.alert {
    /*position:absolute;*/
    /*top:10vh;*/
    z-index: 35;
    width: 65%;

}

/* ========== MESSAGES ========= */
.alert-info {
    position: absolute;
}
.messageWrap{

}

/* ============ NAVBAR ============ */

.navContainer {
    height: var(--navHeight);
    /*!*padding-top:0 !important;*!*/
    padding: 0 10vw;

}

.navContainer .navbar-brand {
    left:5%;
}
.landingNavbar {
    background: rgba(42, 50, 75, 0.01);
    /*background: transparent !important;*/
}

/*navbelt*/
.navContainer {

    z-index: 105 !important;
    /*background:#1d2951;*/
    /*background:#241e6a;*/
    background: rgba(36, 30, 106, 0.1888);
    /*background:#3C31AE;*/
    /*background: linear-gradient(90deg, rgba(60,9,108,1) 4%, rgba(19,6,18,1) 7%, rgba(19,6,18,1) 18%, rgba(60,9,108,1) 20%);*/
    /*background: linear-gradient(90deg, rgba(105, 48, 195,1) 4%, rgba(19,6,18,1) 7%, rgba(19,6,18,1) 18%, rgba(105, 48, 195,1) 20%);*/

}

.navbar-toggler {
    /*background: rgba(36, 30, 106, 0.388);*/
    right: 10%;
    color: white !important;
}

@media (max-width: 992px) {

    .mainNavCollapse {
        /*display:block;*/
        padding-top: var(--navHeight);
        background: rgba(36, 30, 106, 0.9488);
        /*width: 100%;*/
    }

    .navContainer {
        padding: 0 !important;
    }
}

/*position: absolute;*/
/*right:0;*/
/*left:0;*/
/*display:flex;*/
/*align-items: inherit;*/
/*justify-content: inherit;*/
/*top:calc(var(--navHeight) + 25px)*/


.navContainer a {
    color: whitesmoke;
    text-shadow: -3px 1px 21px rgba(72, 149, 239, 0.65);
}

.navCaption {
    font-size: 0.9rem;
}

nav a img {
    width: 60px;
}
.dropdownParent{
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}
@media (min-width: 992px) {

    .acc {
        height: 100vh !important;
    }
}

.accountDropdown {

    /*margin-top:35px;*/

}
.dropdownParent:hover + .navDropdown{
    display:block !important;
}
.dropdown-menu {
    width: 100% !important;
    text-align: center;
    min-width:10px;!important;
}
.navDropdown{
     position:absolute;
    left:0;
    background-color:#3f37c9;
     width:100%; !important;
    margin-top:35px;


}

.notifyAmount{
    background:red;
    border-radius:50%;
    font-size:16px;
    font-weight:700;
    text-align: center;
    width:22px;
    height:22px;
    position:absolute;
    top:0;
    left:-10px;

}
.bellIcon {
    font-size: 25px !important;
}

.readAll{
    font-size:21px;
    border:1px solid white;
}
.notification{
    border-bottom:1px solid lightgray;
    padding:2px 2px;
}
.notificationDropdown * {
    color:white;
   font-size:15px;
    letter-spacing:0;
}

.notificationDropdown{
    width:170px !important;
    height:150px;
    overflow:auto;
    padding:2px 7px;
    left:-50%;
    margin-left:-50%;
}
@media (max-width: 992px) {

    .navDropdown{
        margin-top:0;
    }
    .notificationDropdown{
        width:100%;
        left:0;
        margin-left:0;
    }
}

.navDropdown a {
    color:white !important;
       text-align: center;
}
.navDropdown .dropdown-item:hover{
    background-color:#240046;
}
.nav .dropdown-item{
    padding:0 !important;
}


.dropdown-menu:first-child {
    border-bottom: 1px solid grey;

}

.flagIMG img{
    width:60px;
    height:37px;
}
/*.flagDropdown{*/
/*    width:80px !important;*/
/*}*/
/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 850px) {
    .navCaption {
        display: none;
    }

    .navContainer .navbar {
        /*background: rgba(36, 30, 106, 0.98) !important;*/
        /*background: rgba(36, 30, 106, 0.98) !important;*/
    }

}


.header_toggle {
    font-size: 1.8rem;
    cursor: pointer;

}

.l-navbar {
    position: fixed;
    top: 0;
    bottom: 0;
    /*left: -30%;*/
    width: var(--nav-width);
    height: 100%;
    /*height: 100vh;*/
    background-color: var(--first-color);
    padding-top: 15vh;
    transition: all 0.5s ease-in;
}

.navContainer .nav {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;


}

.leftNavPadding {
    padding-left: var(--nav-width) !important;
}

.nav_name {
    padding-bottom: 0.5rem;
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.nav_name.fade {
    position: relative;
    opacity: 1;
    width: auto;
    height: auto;

}

.nav_link {
    display: flex;
    position: relative;
    align-items: center;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
}

.nav_icon {
    font-size: 1.88rem;
}

.nav_icon {
    padding: 0 0.9vw;
}

.nav_link:hover {
    color: var(--white-color)
}

.show {
    left: 0;
    /*min-width: calc(var(--nav-width) + 15vw)*/
    width: calc(var(--nav-width) + 15vw)
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}

@media screen and (max-width: 768px) {
    .show {
        width: calc(var(--nav-width) + 50vw)
        /*min-width: calc(var(--nav-width) + 50vw)*/
    }

    .show .nav_icon {
        padding-left: 5vw;
    }

}

@media screen and (min-width: 768px) {
    .l-navbar {
        left: 0;
    }

    .show {
        width: calc(var(--nav-width) + 19vw)
    }

    .show .nav_icon {
        padding-left: 1.5vw;
    }
}


/* ============ LANDING PAGE ============ */

.landing-page {
    text-align: center;
    width: 100vw !important;
}

.clean-block.clean-hero {
    /*style="background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 75%)"*/
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
}

.clean-block.clean-hero {
    min-height: 100vh;
    max-height: 100vh;
    width: 100%;
}

.text1 {
    top: 40%;
    font-family: Rajdhani, serif;
    font-weight: 600;
    background-image: radial-gradient(farthest-corner, rgba(16, 0, 43, 0.4), rgba(72, 12, 168, 0.8));
}

.indexHeader{
    color:white;
}
.feature-box{
    border:2px solid var(--cyanBlueFooter);
    border-radius:15px;
    margin:5px 30px;
    padding:12px 16px;
    /*background:rgba(67,97,238, 1);*/
    background:#292929;
    /*background:black;*/
}
.feature-box i {
    font-size: 50px;

}

.feature-box h4 {
    font-weight: 700;
    margin-bottom:9px;


}

.clean-hero::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: blur(2px);
    background-size:cover;
    background-repeat: no-repeat;
    /*background-position:70% 65%;*/
    background-position:center bottom;
    transform:scale(1.5);
    filter: saturate(100%) invert(27%) sepia(72%) saturate(165%) hue-rotate(215deg);
}

.clean-hero {
    overflow: hidden;
    object-fit: fill;
    object-position: top;
}

    .clean-hero .wave {
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    bottom: -170px;


}
    .clean-hero .wave svg{
           fill:black !important;
    }

.section-heading {
    color: #240046;
}

.navbar-toggler-icon *, .closeNavIcon {
    color: white !important;
}

@media (min-width: 576px) {
    /*.page {*/
    /*    padding-top: 5rem;*/
    /*}*/
    .clean-block.clean-info {
        padding-left: 0px;
        padding-right: 0px;
        text-align: inherit;
    }

    /*.SessionDate {*/
    /*    position: absolute;*/
    /*    !*top: -1vh;*!*/
    /*    right: 3%;*/
    /*}*/

}

.clean-info {
    background: radial-gradient(circle, hsla(194, 85%, 62%, 1) 18%, hsla(271, 85%, 23%, 1) 81%);

}

h2, .h2 {
    font-size: calc(1.325rem + 0.9vw);
}

.bubbleContainer {
    /*background-color: #191919;*/
    /*background-color: var(--paleBlack);*/
    background-color:  #F7F6FB;
    min-height: 35vh;
    color:black;
}


.bubbleSection p {
      /*color:var(--paleBlack);*/
      /*color:var(--cyanBlueFooter);*/
}
.bubbleSection .col-md-3{
    padding:0;
    margin:0;
}
.feature-1 h3{
    /*color:white;*/
    margin:19px 0;
}
.feature-1 {
    margin: 0 15px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.feature-1:first-child {
    margin-bottom: 15px;
}

.feature-1 .wrap-icon {
    color: white;
    font-size: 2rem;
    margin: 0 auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 15.55px;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.25);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.feature-1 .wrap-icon.icon-1 {
    background:#2e2686;
    /*background: linear-gradient(-55deg, #5753C9, #2d71a2);*/
    /*background: linear-gradient(45deg, hsla(271, 100%, 14%, 1) 17%, hsla(271, 85%, 23%, 1) 64%);*/
}

.feature-1 h3 {
    font-weight: 600;
    padding: 0 17px;
    height: 55.55px;
    /*margin-bottom:15px;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-1 p {
    margin-top:6px;
    letter-spacing: 1px;

}

.wrap-icon i {
    font-weight: bold;
}

.silhouetteContainer {
    height: 65vh;

}

.silhouette, .silhouette svg {
    max-height: 55vh;
    max-width: 80vw;
}

@media (min-width: 800px) {
    .buddhasection .col-lg-7 {
        padding-left: 60px !important;
    }
}

. rajdhani {
    font-family: Rajdhani, serif !important;
}

.MATIVATED {
    font-family: Rajdhani, serif;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px rgba(231, 231, 235, 1);
    font-weight: 800;
}

.getting-started-info h2 {
    font-size: 50px;
}

.quotecard {

    box-shadow: rgba(58, 12, 163, 0.25) 0px 45px 45px, rgba(58, 12, 163, 0.22) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(72, 12, 168, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /*box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;*/
    /*box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;*/
    /* box-shadow: rgba(72, 12, 168, 0.35) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 30px -30px;*/

}

.quotecard blockquote {
    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;

}

.buddha-fluid {
    background: linear-gradient(90deg, rgba(36, 0, 70, 1) 5%, rgba(16, 0, 43, 0.99) 50%, rgba(36, 0, 70, 1) 95%);
    /*background: linear-gradient(90deg, rgba(60,9,108,1) 5%, rgba(16,0,43,0.99) 50%, rgba(60,9,108,1) 95%);*/
    /*background-image: linear-gradient(#10002B, #480CA8);*/
}

.text {
    background: /*black belt gradient*/ linear-gradient(90deg,
    rgba(0, 12, 12, 1) 2%,
    rgba(255, 255, 255, 1) 4%,
    rgba(255, 255, 255, 1) 5%,
    rgba(219, 19, 18, 1) 7%,
    rgba(219, 19, 18, 1) 28%,
    rgba(255, 255, 255, 1) 32%,
    rgba(255, 255, 255, 1) 33%,
    rgba(0, 8, 8, 1) 34%,
    rgba(0, 13, 13, 1) 36%,
    rgba(0, 0, 0, 1) 87%);,
}

.img-buddha-wrap {
    margin-top: 100px;
}

.img-buddha {
    box-shadow: rgba(67, 97, 238, 0.25) 0px 54px 55px, rgba(72, 149, 239, 0.22) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(72, 12, 168, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.features {
    background-color: #191919;
    color: white;
}

.block-heading h2 {
    font-size: 60px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color:black;*/
    color: white;
    margin-bottom: 35px;
}


/*================ ACCOUNT / PROFILE SECTION  ================*/

/*RESPONSIVE PROFTEXT*/


@media (max-width: 720px) {
    /*.profile {*/
    /*    width: 50%;*/
    /*}*/
    .profText {
        /*margin-bottom: -13% !important;*/
        margin-top: 5%;
        width: 50vw;
        margin-left: 42vw !important;
        padding: 0 15px !important;

    }

    .unauthorized {
        margin-left: 55% !important;
        width: 25%;
    }

    .circleWrap {

        width: 26vw !important;
        height: 26vw !important;
    }

    .profText h2 {
        font-size: 1.1rem !important;
    }

    .profText h1 {
        font-size: 2.5rem !important;
    }

    .profileBackground {
        height: 27vh !important;
    }
}

@media (min-width: 721px) and (max-width: 1200px) {
    .circleWrap {

        width: 18vw !important;
        height: 18vw !important;
    }

    .profText {
        /*margin-bottom: -13% !important;*/
        margin-left: 23vw !important;
        margin-right: 20px;
        padding: 0 20px !important;
    }

    .profileBackground {
        height: 19.5vh !important;
    }
}

@media (max-width: 480px) {

    .circleWrap {
        width: 42vw !important;
        height: 42vw !important;
    }

    .profText {
        /*margin-bottom: -13% !important;*/
        margin-top: 4vh;
        width: 50vw;
        text-align: right !important;
        margin-left: 42vw !important;
        margin-right:15px;

    }

}

.formIcon {
    position: relative;
    display: flex;
    align-items: center;
}

.formIcon input {

    word-wrap: break-word;
}

.profileBackground {
    position: relative;
    height: 20.2vh;
    /*background-color:#5e71f2;*/
    background-color: #18F0FE;
    /*background-color: #4ccaf0;*/
}

.savedWrap {
    position: absolute;
    right: 4%;
    bottom:3px;
    padding-top:5px;
    height:80px !important;
    color: white;

}

.savedWrap h4 {
    /*position:relative;*/
    /*top:5%;*/
    font-size: 1.05rem;

}

.accountcontent {
    background-color: var(--paleBlack);
    /*background-color:#4361ee;*/
    color: white;
    /*min-height:100vh !important;*/
}

/*.accountcontent > * > h2{*/
/*    display:inline*/
/*}*/
.rightSideProfile {
    /*background-color:#80E2FE;*/
    background-color: #187DFE;
    /*background-color:#f2f3f4;*/
    /*background-color:#3f37c9;*/
    color: black;
    /*padding-bottom: 150px;*/
    height: 100%;
    justify-content: center;
    /*padding-bottom: 20vh;*/

}

.accountRCol {
    /*height:100vh;*/

        display:flex;
    min-height: 65vh;
}
.accountRCol img{
    max-width: 29vh;
    max-height:29vh;
}
.accLeftContent{
    padding-bottom:15vh !important;
}
@media screen and (min-width: 768px) {

    .accMain, .accountRCol{
    height:100vh; !important;

}
    .accountRCol img{
    max-width: 40vh !important;
    max-height:40vh !important;
}
}

.toggle {
    display: inline-block;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

.toggle__input {
    display: none;
}

.toggle__input:checked + .toggle__slider:before {
    left: 43%;
}

.toggle__input:checked + .toggle__slider {
    background: green;
}

.toggle__slider {
    width: 3em;
    height: 1.5em;
    background: #ccc;
    padding: .3em;
    border-radius: 2em;
    position: absolute;
    transition: 300ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.toggle__slider:before {
    content: '';
    width: 1.5em;
    height: 1.5em;
    background: #fff;
    position: absolute;
    top: 50%;
    left: .3em;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: 300ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.profText {
    margin-top: 7px;
    margin-left: 29%;
    padding: 0 20px;
}
.changeACC{
    letter-spacing:1px;
}
@media (max-width: 600px) {
    /*   .profText {*/
    /*    !*margin-bottom: -13% !important;*!*/
    /*    margin-top:5%;*/
    /*    width:30%;*/
    /*    margin-left:50% !important;*/
    /*}*/
}

@media (max-width: 992px) {

    .beltIMG {
        /*max-width: 30vw;*/
        width:120px;
        height:80px;

    }
    .belt{
    max-height:100px;
}
    .logoEdit {
        font-size: 3vw !important;
    }
}

@media (min-width: 900px) {

    .beltIMG {
        max-width: 11vw;
    }


}



.profileInfo {
    /*position:absolute;*/
    /*top:-10%;*/
    top: 0;
    /*margin-top:-7%;*/
    /*padding-top:4%;*/
    margin-left: 2%;

}


.unauthorized {
    /*margin-left: 15%;*/
}

.leftColContent {
    /*transform:translateY(-15%);*/
}
.accLeftContent{
    /*padding-botom:15vh !important;*/

}
.handleimg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 8%;
}

.profileInfo h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.profileInfo h2 {
    font-size: 1.1rem;
    font-weight: 400;
}

#collapseWrap {
    position: absolute;
    width: 100%;
    /*top:40%;*/
    top:0;
    left:0;
    background:var(--paleBlack);
    padding:0 15px !important;
}

.personalLabel {
    font-size: 1.2rem;
    text-align: center;
}

.smallLabel {
    font-size: 0.82rem;
}

.profileBorder {
    width: 70%;
}

.profileBorderDark {
    border-bottom: 1px Double #212529;
    width: 80%;
}

.proBorder. .profileBorder {
    border-bottom: 1px Double var(--cyanBlueFooter);
}

.yourBio {
    /*background-color:#3f37c9;*/
    height: 25%;
    /*flex:1;*/
}

.favTechnique .techniquesOptions li {
    height: 4.5vh;
    font-size: 1.3rem;
}

.favTechnique .techniquesOptions {
    height: 10vh;
}

.favTechToggle {
    text-shadow: 2px 2px rgba(76, 202, 240, 0.6);
}
.yourBelt{
    padding-bottom:40vh;
}
.favTechnique{
    background:var(--paleBlack);
    color:white;
}

/* ==============================================================*/

/**--------------------------------------------------------------*/
/*# Footer*/
/*--------------------------------------------------------------*!*/

#footer {

    background: #101010;
    padding: 85px 2vw 30px;
    color: #fff;
    font-size: 14px;
    min-height: 15vh;
    border-top:5px solid var(--cyanBlueFooter);

}
@media (max-width: 992px) {
    #footer {
        padding-left:0;
        padding-right:0;
    }
}
#footer .footer-info {
    margin-bottom: 15px;
    background: var(--paleBlack);
    color: #fff;
    border-top: 4px solid #4ccaf0;
    text-align: center;
    padding: 30px 20px;
}

#footer .footer-info h3 {
    font-size: 36px;
    margi: 0 0 7px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}

#footer .footer-info {
    font-size: 14px;
    line-height: 24px;
}

#footer .social-links a {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #262626;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 55px;
    height: 55px;
    transition: 0.3s;
    margin: 0 2px;
}

#footer .social-links a:hover {
    background: #4ccaf0;
    color: #fff;
    text-decoration: none;
}

#footer h4 {
    font-size: 22px;

    color: #fff;
    position: relative;


}
.footerBelt img {
    width:90px !important;
    height:auto;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links i {
    padding-right: 2px;
    /*color: #eb4444 !important;*/
    color: var(--cyanBlueFooter) !important;
    font-size: 18px;
    line-height: 1;

}

#footer .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-links ul li:first-child {
    padding-top: 0;
}

.footer-links a {
    color: ghostwhite;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

.footer-links a:hover {
    color: #4ccaf0;
}

#footer .footer-tops {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
}

.reportIcon{
    display:flex;
    justify-content: center;
    align-items: center;
    background:var(--paleBlack);
     height:110px;
    position:relative;
    width:110px;
    z-index:1;
    margin-top:8px;

}
.reportIcon i{
    font-size:3em;
}
.colorTransform:after{
    background-color:var(--cyanBlueFooter) !important;
    content: "";
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    transform:scaleY(0);
    transform-origin:bottom center;
    z-index:-1;
   transition: transform 0.35s;
}
.colorTransform:hover::after{
       transform:scaleY(1);
}
.reportIcons{

}
.reportIcons i{

}
.bjjimg {

}
@media (min-width: 992px) {
#footer a, nav .nav-item {
    padding: 6px 5px;!important;
    margin:0 9px;
    cursor:pointer;

}
}
nav .nav-item{
    height:50px !important;
}
#footer a {

    margin: 1px 12px;

}
a {
    text-decoration: none;
}


.ToDoItem {
    width: 75%;
    display: flex;
}
#listsDisplayer{
    min-height:100vh;
}
.formContent * {
    color: #51e19e;


}

.card-mother {
    background-color: #342ea9;
    /*background-color: #3f37c9;*/
    /*background-color: #10002B;*/
    /*padding-top: 15vh;*/
    z-index: 25;

    /*background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);*/


}

.binbut {
    border: none;
    transition: transform .2s;
}

.binbut:hover {
    transform: scale(1.2);
}

/* ================== ACCOUNT REGISTER ===========*/
.formContent * {
    font-size: 28px;
}

.everyJourney {
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 2px;
}

.napis {
    /*background-color:#2e007b;*/
    color: white;
    /*position:absolute;*/
    /*right:0;*/
    /*left:0;*/
    padding: 25px 0;

}

.napis h2 {
    font-weight: 600 !important;
}

.banner-image {
    background-repeat: no-repeat;
    background-position: center;
}

.banner-image img {
    margin-top: 85px;
    margin-bottom: 15px;
    width: 58%
}

.formContent .btn {
    box-shadow: 0 1px 3px 1px #ddd;
    font-size: 19px;
}
.formContent #div_id_password{
    margin-bottom:4px !important;
}
.trainJitsu {
    font-size: 27px;
}
.forgotPassword *{
    font-size:14px;
    display:inline;
    padding:0;
}
.forgotPassword h4{
    color:#00b4d8;
}
/*.btn-google {*/
/*    color: #545454;*/
/*    background-color: #ffffff;*/
/*}*/
.btn-google img{
    width:30px;
    height:30px;
}
.or-container {
    align-items: center;
    color: #ccc;
    display: flex;
    margin: 25px 0;
}

.line-separator {
    background-color: #ccc;
    flex-grow: 5;
    height: 1px;
}

.or-label {
    flex-grow: 1;
    margin: 0 15px;
    text-align: center;
}

.itemTextField {
    border: none;
}

#item-list .input-group-prepend {
    background-color: #7FDBFF;
}

#singleList h1 {
    color: #5753C9;
}

#singleList {
    color: black !important;
}

.toDoItem {
    background-color: white;
    min-width: 45vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px 1vw;
}

.toDoItem input[type=checkbox] {
    color: black;
}

.singleListView button {

}


/*======= BJJournal ======= */
#BJR_view {
    min-height: 100vh;
}

.BJR_content {
    background: url("../img/sam-mgrdichian5.webp");
    flex-grow: 1;
    padding-right: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 50%;
    border: none;
    /**/
}

/* =======BJJR DASHBOARD =======*/
.BJRdashboard {
    /*background-color: var(--paleBlack);*/
    /*background-color: #2284ee;*/

    /*height: 40%;*/
}

.countSection {
    background-color: #00b4d8;
    /*background-color: #2e2686;*/
    padding-right:15px !important;
    color:black;
    /*background-color: #3f37c9;*/
}

.feature-2 .wrap-icon {

    color: #2e007b !important;
    background-color: #f2f3f4;
    font-size: 2rem;
    margin: 0 auto;
    height: 100px;
    width: 100px;
    position: relative;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.25);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.feature-2 h3 {
    color: white;
    margin-top: 10px;
}

/*======= SIDEMENU ======= */
.BJR_sideMenu {
    /*background-color:	#10002B;*/
    background-color: #0b132b;
    z-index: 25;
}

.BJR_sideMenu * {
    letter-spacing: 0.222em !important;
}

.BJR_sideMenu a {
    color: #3ede93;
    /*color: #a8a9b4;*/
    transition: 0.3s;
}

.BJR_sideMenu a:hover {
    cursor: pointer;
    color: white;
}

/*.dashboardCount .count_item {*/
/*    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;*/
/*}*/

.count_icon img, .SessionDate img {
    width: 100%;
    height: 100% !important;
    margin: auto;
}

.count_icon {
    /*background-color:#b0acb0;*/
    /*background-color: #64dc98;*/
    height: 100% !important;

}

@media (min-width: 800px) {
    .sessionType .count_icon {
        height: 12vh !important;
        width: 12vh;
    }


}

.countItems .count_item {
    width: 90%;
    /*background-color:#4361ee;   */
    /*background-color:var(--cyanBlueFooter)*/
}

.hours_count {
    background-color: var(--paleBlack);
    color: white;
}

.count_item .count_icon, .hours_count {
    flex: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    outline: 2px solid black;
}
.count_item .count_icon{
    padding:12px;
}
@media (min-width: 1024px) {
 .count_item .count_icon{
    padding:22px;
}
}

.hours_count h1 {
    font-weight: 800;
    letter-spacing: 2px;
}

.hours_count h1:after {
    content: "h";
    font-weight: 600;
    font-size: 24px;
}

.hours_count h3 {
    color: #1bd8fb;
}

/*============ ADD SESSION ============*/
.count_item {
    color: #222035;
    /*padding: 0 0.6vw;*/
    width: 100%;
    height: 13vh;
    font-size: 1.7rem;
    margin: 0 auto;
    position: relative;
    margin-bottom: 12px;
    /*box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.25);*/
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px 22px;
    font-weight: 600;
    /*background: linear-gradient(135deg, rgba(63,55,201,1) 44%, rgba(72,149,239,1) 56%);*/
    /*background: linear-gradient(135deg, 	rgb(226, 221, 223, 0.4) 44%,*/
    /*                                        rgb(226, 221, 223, 0.4) 56%);*/
    background: rgb(226, 221, 223, 1);
    overflow: hidden;
    border: 1px solid black;
}
.kindOf{
    font-size:16px;
    font-weight:400;
}
@media (max-width: 1024px) {
    .count_item {
        max-height: 10vh !important;
    }

    .kindOf {
        text-align: center;
    }
}

/*.count_item .row {*/
/*    height: 100%;*/
/*}*/

.count_item .dashed {
    margin: 7% 11%
}

.count_item h3 {
    letter-spacing: 2px;
!important;
    font-size: 1.52rem;
    font-weight: 800;
    /*text-shadow: 0 0 0.5px #5ae7ee,*/
    /*0 0 1px #5ce5ee,*/
    /*0 0 1.5px #5fe3ee,*/
    /*0 0 2px #61e1ef,*/
    /*0 0 2.5px #64dfef,*/
    /*0 0 3px #66deef,*/
    /*0 0 3.5px #69dcef,*/
    /*0 0 4px #6bdaf0,*/
    /*0 0 4.5px #6ed8f0,*/
    /*0 0 5px #70d6f0;*/
}

.count_Add {
    position: absolute;
    bottom: 0;
}

.count_AddIcon {
    width: 40%;
    margin: auto;

}

.count_AddIcon img {
    background: #2f404d;
    padding: 1rem;
    border-radius: 33%;
}
/*CHECKBOX INVISIBLE*/
.count_icon input[type=radio],
.techniqueOption input,
.hideInput input, .hideInput input[type=radio] {
    visibility: hidden;
    position: absolute;
    /*display:none;*/
}

.count_icon label, .techniquesOptions label {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.addSessionSection {
    min-height:125vh;
    padding-bottom:15px;
    overflow:hidden;
    /*scale: 0.8;*/
    padding-top: calc(var(--navHeight) / 2);
}

.addSessionHeader h1{
    font-size:34px;
    margin-right:5px;
    text-align: center;
}
.clubTS{
    max-width:20%;
}
@media screen and (min-width: 768px) {
    .clubTS{
        position: absolute;
        right:15px;

    }
}
.clubTS *{
     font-size:21px;
}
.addSession {
    padding: 0 4vw;
    /*overflow:hidden;*/
}

.addSessionButtonWrap {
    position: absolute;
    bottom: -80px;
    width: 100%;
}

.addSessionSection h1 {
    letter-spacing: 4px;
    font-weight: 700;

}

.addSessionSection .count_icon,
.techniqueType .count_icon,
.singleTechView .count_icon {
    padding: 0;
    background-color: #6e7ff3;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /*box-shadow: rgba(255,255,255, 0.16) 0px 10px 36px 0px,*/
    /*rgba(255,255,255, 0.16) 0px 0px 0px 1px;*/

}


.addSessionSection .type_icon {
    background-color: #04D2F8;
}

.type_icon label {
    padding: 0.5vw;
}

.BJRnotesWrap {

    height: 12vh;
    /*padding:0 60px;*/

    /*height:100%;*/
}

.BJRnotes {
    background-color: #dee2e6;
    border: 1.4px solid darkblue;
}

.addSessionLength h3 {
    font-weight: 600;
}

.lengthType, .count_icon * {
    color: white !important;
}

.sessionLength, .type_icon {
    padding: 0 !important;

}

.addSessionLength {
    /*background-color:#4003D4 !important;*/
    background-color: var(--darkPurple) !important;
    color: white;
    width: 10%;
    letter-spacing: 1px !important;
    overflow: hidden;
    /*box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;*/
}

.countWrap {
    width: 15%;
}

.addSessionMinutes {
    background: #4b0fd3 !important;
}

.addSessionFight {
    background: #6325f0 !important;
}

.fightTimeInput::placeholder {
    font-weight: 500;
    font-size: 14px;

}

.fightTimeInput {
    width: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    height: 70px;
    padding-bottom: 20px;
}

.sectionLength input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.sectionLength input[type=number]::-webkit-inner-spin-button,
.sectionLength input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.formFight {
    margin: 0 4px;
}

.placeholder {
    position: absolute;
    bottom: 20px;
    font-size: 15px;
    opacity: 0.7;
    background: transparent;
    color: black;
}

.mathWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    background: #2e007b;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    width: 25px;
    border: 2px solid white;
}


.activeType {
    background-color: #3e54ef !important;
}
.activeColor{
    background-color:var(--active) !important;
}

.smallCapt {
    font-weight: 400;
    font-size: 12px;
}

.HSYMBOL {
    font-weight: 400;
    font-size: 15px;
}

.boxShadow {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
rgba(255, 255, 255, 0.35) 0 px - 2 px 6 px 0 px inset;

}

.sectionLength {
    /*background-color:#3060FC;*/
    /*background-color:rgba(0, 0, 0, 0.44);*/
    background-color: #04D2F8;
    /*background-color: rgba(60, 51, 173, 0.96);*/

}

.sectionLength img {
    width: 50px;
}

.sectionLength .lengthH2 {
    letter-spacing: 2px;
    font-weight: 400;
    margin: 0;
}

.sectionLength .lengthH3 {
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 22px;
}

.wrapper {
    z-index: 15;
}

.addSessTechn {
    background-color: #1BD8FB;
}

.SessionDate {
    background-color: #1BD8FB;
    border-radius: 4%;
}

.datepicker-toggle h3 {
    font-size: 0.85rem;
    font-style: italic;
}

.datepicker-toggle input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
}

.quickDateWrap {
    max-width: 95%;
}

.quickDate {
    background-color: var(--darkPurple);
    color: white;
    border-radius: 7px;
    font-size: 15px;
    text-align:center !important;
    padding:7px;
}

.quickTimeBtn {
    width: 19%;

}

.timeStampLabel input {
    text-align: center;
    font-weight: 700;
    font-size: 25px;
}

.timeStampBtn {
    width: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    padding: 2px 7px;
    margin: 0 2px;
    font-size: 17px;
    background-color: var(--darkPurple) !important;
    border: 2px solid white;
}

.min {
    font-size: 12px;
    letter-spacing: 1px;
}

@media (max-width: 900px) {
    .timeStampBtn {
        width: 40%;
        margin: 4px;
    }

    .quickTimeBtn {
        width: 30%;
    }
    .sectionLength .addSessionLength{
        width:10%; !important;
        margin:2px 5px;
    }
}
@media (max-width: 600px) {
.sectionLength .addSessionLength{
        width:18%; !important;
    }
}
.choice-btn {
    font-size: 1.49rem;
    letter-spacing: 0.09rem;
    cursor: pointer;
}

.techniquesSearch i, .formIcon i {
    position: absolute;
    left: 15px;
    color: black;
}

.techniquesSearch input {
    padding-left: 45px;
    width: 100%;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
}

.chosenTechnique {
    margin-right: 2.2%;
    background: #2e2686;
    border-radius: 15px;
    padding: 2% 6%;
    text-align: center;
    font-size: 0.8rem;
    /*white-space: nowrap;*/
    display: inline-block;

}

.chosenTechnique i {
    font-size: 0.95rem;

}

.userSuggestions .techniquesListWrap {
    position: absolute;
    width: 100%;
}

.addSessionSection .techniquesListWrap {
    border-radius: 10px;

}

.techniquesListWrap {
    /*background-color: #3295d7;*/
    background-color: #1BD8FB;
    margin-top: 3px;

     z-index:25;
}

.techniquesListWrap select:focus {
    outline: none !important;
    box-shadow: none !important;
}

.rotateButton {
    transform: rotate(-180deg);
}

.choiceArrowBtn {
    display: inline-block;
    transition: transform 0.3s linear;
}

.addSessTechn .choiceArrowBtn {
    right: 3%;
}

.choicePlaceholderWrapper {
    overflow: auto;
    max-height:100px;
    margin-right:30px;
}

.techniquesOptions {
    list-style: none;
    overflow: auto;
    overflow-x: hidden;
    height:100%;
    padding-bottom:10vh;
    /*direction:rtl*/

}
.addSessionSection .techniquesOptions{
     max-height: 19vh;
}
.techniqueItem, .nowrap {
    /*white-space: nowrap;*/
}

.techniquesOptions li {
    transition: transform .2s;
    min-height: 45px;
    padding: 0.3vh 0;
    /*padding: 0.3vh 0.4vw;*/
    font-size: 1.8rem;
    border-bottom: 1px solid white;
    /*border-bottom: 1px solid blue;*/
}

.cursor-pointer:hover {
    cursor: pointer;
}
.secondScroll::-webkit-scrollbar{
    width:14px;
}
.customScroll::-webkit-scrollbar {
    width: 6px;
}

@media (max-width: 600px) {
    .customScroll::-webkit-scrollbar {
        width: 12px;
    }
    .secondScroll::-webkit-scrollbar{
        width:22px;
    }
}

.customScroll::-webkit-scrollbar-track,
.secondScroll::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #6961d0;
    border-radius: 15px;
}

.secondScroll::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: white;
}
.customScroll::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: white;
}

/*========= SPIKES SEPERATOR =========== */
/*.spikes {*/
/*  position: relative;*/
/*  background: #05d9e8;*/
/*  height: 15vh;*/
/*}*/

/*.spikes::after {*/
/*  content: '';*/
/*  position: absolute;*/
/*  right: 0;*/
/*  left: -0%;*/
/*  top: 100%;*/
/*  display: block;*/
/*  height: 30px;*/
/*  background-size: 50px 100%;*/
/*  background-image: linear-gradient(135deg,  #05d9e8 25%, transparent 25%), linear-gradient(225deg, #2c3e50 25%, transparent 25%);*/
/*  background-position: 0 0;*/
/*}*/

/*====================================================*/
/*!*=========TECHNIQUES SECTION =====================*!*/
.techniqueType {
    padding: 0 5vw;
    width: auto;
    margin-bottom: 4%;
    overflow: hidden;

}

.techniqueType .count_icon {
    display: flex !important;
    position: relative;
    padding-top: 1.4%;
    scale:0.9;
    /* padding-bottom: 100%;*/

    /*margin-bottom: -100%;*/

}

.techniqueType .count_icon img {
    height: 100% !important;
}

.leftSideTechnique {
    padding-bottom: 10%;
    min-height: 100%;
}


/*==============ADD TECHNIQUE ===============*/


.typeH2 {
    font-size: 1.8rem;
}

.caption {
    font-style: italic;
    font-size: 0.933rem;
    font-weight: 400;
    color: white;
    position: absolute;
    background-color: #5e71f2;
    width: 100%;
    text-align: center;
    top: -20px;
    left: 0;
}

@media screen and (max-width: 700px) {
    .caption {
        top: -20px;
    }
}

.techNotes {
    min-height: 15vh;
}

.techNotes textarea {
    height: 100% !important;
}

.techniqueSection .col-lg-8 {
    border-right: 1px solid #f2f3f4;
}

.nameSection {
    background-color: #4361ee;
    border: 3px white;

}

.leftName {
    background-color: #4ccaf0;
    /*background-color:#4361ee;*/
}

.nameSection .form-label, .techDescriptionInput label {
    display: none;
}

.nameSection h3 {
    font-weight: 500;
    font-size: 1.2rem;
}

.nameSection .h6 {
    font-size: 0.72rem;
    font-style: italic;
}

.nameSection .col-md-6 {
    padding: 1.4vh 0.8vw 0.4vh;
}

.addTechBtn {
    opacity: 0.8;
}
.techList{
    height:100vh;
}
@media (min-width: 750px) {
    .leftSideTechnique{
        /*height:100%;*/
        height:100vh
    /**/
    }

}
@media (max-width: 749px) {
    .leftSideTechnique, #listsDisplayer {
        height:150vh;
    }

}
.techList {
    /*height: 100%;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*right: 0;*/
    padding-top: 16vh;

    background: #3f37c9;
}

.techList h3 {
    font-size: 2.1rem;
}

.techniqueSection .techniquesOptions {
    max-height: 95%;
}

.techniqueSection .techniquesOptions li:hover,
.hoverScale:hover {
    transform: scale(1.04);
    cursor: pointer;
}



/* =============== SINGLE TECNHIQUE VIEW ==============*/
@media (max-width: 800px) {
    .singleTechView .count_icon {
        width: 45%;
    }
}

@media (min-width: 800px) {
    .singleTechView .count_icon {
        width: 20%;
    }

}


.techniqueSection {
    /*height:110vh;*/
}

.singleTechView .TechName > * {
    text-transform: capitalize;
}

.techDescriptionWrap {
    /*position: absolute;*/
    /*overflow:hidden;*/
    /*height:20vh;*/
    z-index: 45;
    background-color: var(--cyanBlueFooter);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}


.TechName {
    width: 100%;
    text-align: center;
    margin-bottom: 0.4vh;
    /*background-color:rgba(242, 243, 244, 0.35)*/
    background-color: rgba(36, 0, 70, 0.45)
}

.TechName > * {
    letter-spacing: 3px;
}

.TechName h1 {
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.3);
}

.TechName h3 {
    font-style: italic;
    font-size: 1.2rem;
    /*color:#bb9bf3;*/
    color: whitesmoke;
    text-shadow: 2px 2px 0px rgba(157, 109, 238, 0.3)
}

.techDescriptionInput {
    display: none;
}

.editButton {
    position: absolute;
    color: black;
    right: 0;
    top: 2%;
    z-index: 2;
}

.pencilButton {
    z-index: 3;
    transition: all .2s;
}

.editButton:hover .pencilButton {
    cursor: pointer;
    transform: scale(1.11);
}

.editing {
    background: white;
}

.techDescriptionInput textarea {
    flex-grow: 1;
    height: 100%;
    /*max-height: 25vh;*/
}

.userSuggestions {
    min-height: 30vh;
    /*overflow: hidden;*/
    /*top: 25vh;*/

}

.userSuggestions .techniquesListWrap {
    overflow-y: scroll;
    height: 50%;

}

/*========== YOUR SESSIONS ==============*/
.yourSessionsSection {
    height: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 25vh;
    /*background:black;*/
    display: grid;
    /*grid-template-columns: repeat(4, 1fr);*/
    /*grid-template-columns: repeat(4, minmax(0, 1fr));*/
    /*grid-template-columns: auto auto auto auto;*/
    row-gap: 35px !important;
    column-gap: 1.5%;
    overflow: hidden;
    place-items: center;
    min-height:100vh;
}
.sessionLength h4 {
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 23px;
    /*text-shadow: 1px 1px ghostwhite;*/
    text-align: center;
}
@media (max-height: 900px) {
    .sessionLength h4 {
        font-size: 21px;!important;
    }
        .sessionDate h3 {
        font-size: 18px;!important;
    }
}
@media (max-width: 749px) {

    .grid-item {
        height: var(--SMgridHeight) !important;
    }

    .yourSessionsSection {
        grid-template-columns: repeat(1, 1fr);
        /*height: var(--SMsectionHeight);*/
        row-gap: 1vh

    }
}

@media screen and (min-width: 750px) and (max-width: 1199px) {
    .yourSessionsSection {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 0.6%;
        /*height: var(--MDsectionHeight);*/
    }

    .grid-item {
        height: var(--MDgridHeight) !important;
    }

}

@media (min-width: 1200px) {
    .yourSessionsSection {
        /*grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));*/
        grid-template-columns: repeat(3, 1fr);
        row-gap: 1.5%;
        /*height:var(--XLsectionHeight)*/
    }

    .grid-item {
        height: var(--XLgridHeight);
    }
}

.sessionDate h3 {
    font-weight: 500;
}



.grid-item {
    margin: auto;
    overflow: hidden;
    background-color: #3f37c9;
    /*background-color:#480ca8;*/
    /*background-color:ghostwhite;*/
    color: white;
    width: 100%;
    /*height: 24vh;*/
    border-radius: 0.55%;
    /*border:1px solid #2F60E6;*/
    border: 2px solid #718ae6;
    /*box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;*/
    display: flex;
    flex-direction: column;
    transition: all .1s ease-in-out
}

.SessionNotes {
    /*overflow:hidden;*/
    /*background:#00b4d8;*/
    /*background:#532BCB;*/
    /*border-right:10px solid  #2A6DFC;*/
    /*border-left: 10px solid  #2A6DFC;*/
    border-bottom: 1px solid #2A6DFC;
    line-height: 0.8;
    border-top: 1px solid #2A6DFC;
    /*flex-basis: 42%;*/
    flex-basis: 45%;
    /*max-height: 38%;*/
    max-height: 45%;
    word-wrap: break-word;
    padding: 1% 0;
    height: 100%;
}
@media screen and (max-width: 1200px) {
    .SessionNotes {
        max-height: 40%;
    }
}
.yourSessions .grid-item:hover {
    transform: scale(1.01)
}

.yourSessionsType {
    width: 29%;
    background-color: var(--cyanBlueFooter);
}

.yourSessionsSection .sessionLength {
    width: 50%;
    flex: 1;
}

.sessionLength {
    background: #1BD8FB !important;
    width:100%;
}

.sessionFight {
    width: 80%;
    height: 100%;
    display: inherit;
    align-items: inherit;
    text-align: center;
    background-color: #1E6AE1;
    font-size: 19px;

    justify-content: center;
}
.sessionFight h6{
     margin:0 !important;
}
.fightIcon {
    width: 40%;
    height:40%;
}
@media screen and (max-width: 1000px) {
.fightIcon {
    width: 55%;
    height:25%;
}

}


.sessionDate {
    /*background-color:#602CFC;*/
    background-color: #5e71f2;

}

.editSessionFooter {
    background-color: white;
}

.SessionId {
    margin-left: auto;
}


.SessionNotes .row {

    padding: 2% 0;
}

.cut-overflow {
    text-overflow: ellipsis;
    overflow: clip;
}

.cut-overflow * {
    font-size: 89%;
!important;
}

.SessionNotes .row > * {
    font-weight: 400;

    /*text-overflow: ellipsis;*/
}

.sessionNotes .col-6 {

}

.SessionNotesLeft {
    border-right: 1px solid #2A6DFC;
    /*background: #4f1be9;*/
}

.SessionLogo {
    /*margin-right: auto;*/
    width: 50%;
    max-width: 50%;

}

.restSession {
    width: 50%;
}
.SessionLogo h3 {
    font-size: 21px;
    text-align:center;
}
@media screen and (max-width: 1200px) {
.SessionLogo h3 {
    font-size: 17px;
}

}

.SessionInfo {
    flex: 1;
    color: white;
    background-color: #4f54de;
}

.editIcon {
    position: absolute;
    right: 3%;
    top: 3%;
    font-size: 13px;
}

.sessionLength h5 {
    font-size: 1.2rem;
}

.pagiNav {
    position: absolute;
    bottom: 3%;
    left: 0;
    right: 0;
    /*padding: 0 8vw;*/
}

.pagiCap {
    color: ghostwhite;
    font-weight: 500;
    font-size: 15px;
}

.lastItem a {
    font-weight: 400;
}

.specialBtn a {
    background: #F0F0F0 !important;
    letter-spacing: 2px !important;
}
.modal,
.modal-open[style]{
    padding-right: 0 !important;

}
.modal-footer {
    padding: 5px 5px;
    position: relative;
}

.sessionRemoveBtn {
    position: absolute;
    left: 20px;
}

.sessionEditBtn {
    width: 15%;
    margin-right: 5px;
}

/*========= SINGLE SESSION VIEW ===========*/



#modalContainer {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
}

.modal-backdrop {
    z-index: 1;
}

#MajModal {
    height: calc(1.5 * var(--XLgridHeight));
    width: 60vw;
    z-index: 25;
    position: relative;
}

.smallmodal {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.modal-content .grid-item {
    transition: none;
    transform: none;
    height: calc(1.3 * var(--XLgridHeight));
    width: 100%;

}

.modal-content .yourSessionsType img {
    width: 70%;
}


/*.modal-content .grid-item .SessionNotes {*/
/*    flex-basis: 62%;*/
/*}*/


/*================LAST SESSIONS =================*/
.lastSessions {
    padding: 3vh 3vw;
    position: absolute;
    bottom: 0;
    /*background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);*/
    height: 34%;

}

.lastSessions h1 {
    font-size: 45px;
    font-weight: 700;
    background-image: linear-gradient(to left, black, white);
    color: transparent;
    /*background-clip: text;*/
    /*-webkit-background-clip: text;*/
}

.lastSessions .card {
    background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);
    height: 23vh;
    max-width: 20rem;
    overflow: hidden;
    margin-left: 10px;
    box-shadow: inset 0px 0px 45px 5px rgba(36, 0, 70, 0.7);
}

.lastSessions .card-header {
    padding: 1vw;
}

/*=============== CLUBS MODULE ===============*/
.bearsorry img{
    width:30vw;
    height:30vw;
    background:white;
    padding:3px;
}
.bearsorry a{
    text-decoration: none !important;
    font-weight: 800;
}
.Clubscontent {
    background-color: var(--paleBlack);
}

.locationWrap {
    height: 8vh;
}

.clubProfile input[type=text] {
    height: 45px;
}

@media screen and (max-width: 900px) {
    .clubProfile input[type=text] {
        height: 55px;
    }

    .locationWrap {
        height: 10vh;
    }
}

.changeLogo input {
    position: absolute;
    visibility: hidden;
}

.circleOnHover {
    opacity: 0;
    background: black;
    position: absolute;
    width: 150%;
    height: 50%;
    bottom: 0;

}

.onHoverfilter {
    transition: opacity 0.5s;
    opacity: 0.8 !important;

}

.logoEdit {
    color: white;
    font-size: 0.6vw;
    position: fixed;
    bottom: -15%;
}

.profile {
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-repeat: no-repeat;

}

.imgCircle {
    background: ghostwhite;
    border: 3px solid black;
    overflow: hidden;
}

.circleWrap {
    height: 11.5vw;
    width: 11.5vw;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-50%);
}

.profilePicture {
    background-position: center 25%;
    background-size: cover;
    background-repeat:no-repeat;
}

.clubProfile .imgCircle {
    background-position: center;
    background-size: contain;
}
.clubProfile{
    /*min-height:100vh;*/
}
@media screen and (min-width: 749px) {
    .clubProfile {
        height: 100vh;
    }
}

/*.clubProfile {*/
/*    min-height: 100vh;*/
/*}*/
.clubProfile .col-md-6 {
    height: 100vh !important;

}

.saveClubBtn {
    background: blue;
}

/*========= CLUBS LIST ============*/
.clubsListWrap {
    background-color: #187DFE;
    color: ghostwhite;
    height:100vh;
    padding-bottom:50px !important;

}

#leaveClub, #cantLeave {
    padding-top: 30vh;
}


#leaveClub .modal-dialog {
    height: 100% !important;
}

#leaveClub .modal-content {
        border: 5px solid white !important;


}

#leaveClub .modal-content, .profileModal .modal-content
{
      max-height:75vh;
    max-width:75vw;
}

@media screen and (max-width: 900px) {
    #leaveClub .modal-content, .profileModal .modal-content {
        height:90vh;
        max-width: 95vw;
        overflow:auto;
    }
}

#leaveClub .modal-header {
    height: 60% !important;
}


#leaveClub .modal-footer {
    height: 29% !important;

}

.btn-close {
    position: absolute;
    right: 3%;
}


.rightMembersCol {
    background: #3f37c9;
}



.clubsList li {
    border-bottom: 2px solid #4ccaf0;
    width: 100%;
    text-shadow: 1px 1px 1px rgba(41, 224, 218, 1);

}

.clubsTextWrap {
    padding: 0 1vw;
}

/*================ singleClubView / clubProfile =========================*/
.clubProfileBtn {
    position: absolute;
    top: calc(var(--navHeight) + 20px);
    right: 9%;
    color: white;
    font-weight: 600;

}

.clubProfileBtn h3 {
    font-size: 15px;
}

.clubProfileBtn button {
    background-color: #F5F5F5;
}

.clubProfile:disabled {
    display: none !important;
}

.clubProfileName {
    font-size: 3rem;
    font-weight: 700;
    word-wrap:break-word;
    margin-right:20px;
}

.singleClubView {
    color: ghostwhite;
}

.estabilished {
    font-weight: 400;
    font-size: 1.25rem;
     margin-right:20px;
}

.leftSingleClub {
    color: ghostwhite;
}

.clubProfileInfo * {
    letter-spacing: 0.07em;
}

/*.adresSingleProfile {*/
/*    background-color: #0164e4;*/
/*}*/


.clubProfileInfo h4 {
    font-weight: 600;
    color: white;
    font-size: 1.32rem;
}

.clubProfileInfo h3 {
    font-weight: 700;
    font-size: 1.5rem;
}

.clubProfileInfo h2 {
    font-weight: 600;
    font-size: 1.3rem;
}

.clubProfileInfo a {
    font-weight: 700 !important;
}

.clubProfileReverseStyle {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
}

.clubProfileNumber a {
    color: black;

}

.clubProfileWebsite a {
    color: white;
    letter-spacing: 0.062em;
    font-size: 1.45rem;


}

.clubProfileDescription {
    color: #e9ecef;
    width: 100%;

    /*background-color:#e9ecef;*/
}

.clubProfileEmail {

}

/*================ Club Members =================*/
.proBorder{
    border-bottom:1px solid #1bd8fb;
}
.clubsListWrapper{
    height:90%;
}
@media screen and (max-width: 900px) {
    .memberItem {
        min-height: 14vh;
        max-height: 24vh;
        padding: 0 1vw;
    }

    .membersTable {
        width: 95%;
    }

    .memberItem h1, .memberh1 {
        font-size: 27px;
    }

    .memberItem h2, .memberh2 {
        font-size: 22px;
    }

    .memberType {
        width: 100%;
    }

    .memberName {
        width: 100%;
        line-height: 1rem;
        margin-top: 40px;
        margin-right: auto;
    }

    .leaveBtn {
        max-height: 20vh;
    }

    .clubsListWrapper {
        padding: 0 1vw 8vh 1vw;
    }

    .nameIcon {
        width: 100%;
        position: absolute;
        top: 15%;
        padding-left: 14%;
    }

    .listName {
        width: 100%;
    }

    .memberCounter {
        position: absolute;
        top: 1%;
        left: 1%;
    }

    .personIcon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .smallProfile {
        margin-top: 40px !important;
    }
}

@media screen and (min-width: 768px) {
    .xclubsListWrapper {
        padding: 0 3vw 8vh 3vw;
    }

    .memberItem {
        min-height: 8vh !important;
    }

    .listName {
        width: 45%;
    }

    .memberType {
        position: absolute;
        right: 0;
        width: 31%;
    }

    .memberItem h1, .memberh1 {
        font-size: 36px;
    }

    .memberItem h2, .memberh2 {
        font-size: 29px;
    }

    .personIcon {
        width: 30px;
        flex-direction: column;
    }

    .leaveBtn {
        max-height: 16vh;
    }

    .nameIcon {
        /*position:absolute;*/
        /*    left:25%;*/
    }
}

.personIcon {
    font-size: 22px;
    /*margin-right: 2%;*/
}

.memberName {
    margin-left: 12px !important;
}

.tooltip {
    display: flex !important;
    position: relative;

    z-index: 25;
}


.tooltiptext {
    /*display:none;*/
    position: absolute;
    z-index: 2;
}

.tooltip:hover .tooltiptext {
    display: block;
}

.nameIcon {
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
}

.memberItem h1, .memberh1 {
    margin: 0;
    padding: 0 1vw;
    font-weight: 300;
}

.memberItem {
    max-width: 100%;
    min-height: 12vh;
    padding: 0 20px;
    /*word-wrap: break-word;*/
}

.memberh1 {
    width: 5%
}

.memberItem * {
    letter-spacing: 0.015em;
}

.memberItem h2, .memberh2 {
    margin: 0;
    padding: 0 0.1vw;
    font-weight: 500;
}

.smallProfile {
    width: 57px;
    height: 57px;
    margin-right: 30px;
    margin-left: 10px;
    /*margin: 0 1.7vw 0 0;*/
}

.mediumProfile {
    width: 110px;
    height: 110px;

}

.profileModal .profileBelt * {
    font-weight: 700;
}

.profileBelt {
    padding-right: 15%;
}

.leaveBtn i {
    font-size: 30px;
    padding: 0;
}

.leaveBtn {
    background-color: ghostwhite;
    color: black;
    width: auto;
    overflow: hidden;
    padding: 20px;

    transition: all 0.2s;
}

.leaveBtn:hover {
    transform: scale(1.03);
}

/**===MEMBER REQUESTS===== !*/
.clubRequests .listName {
    position: absolute;
    left: 25%;

}

.clubRequests th {
    font-weight: 500;

}

.requesth1, .requesth2 {
    font-size: 15px;
}

/*.iconScale i{*/
/*    border:none;*/
/*    transition: transform .2s;*/
/*}*/
/*.iconScale i:hover{*/
/*    transform: scale(1.2);*/
/*}*/
.requestIcon i {
    font-size: 30px;
    margin: 0 5%;
}

.requestIcon {
    width: 110px;
    margin-left: 35px;
}

.requestsmallProfile {
    width: 40px;
    height: 40px;
}

#acceptRequest {
    background: blue;
}

#rejectRequest {
    background: blue;
}

/*SINGLE MEMBER VIEW*/
#memberProfile {
    padding-top: 5vh;
}

.profileModal {
    width: 100% !important;
    height: 100% !important;
    margin:0;
    padding:20px 15px 0;
    display:flex;
    justify-content: center;
}

@media (max-width: 1224px) {
    .modal-body {
        font-size: 14px !important;
    }

    .profileModal {
        height: 100vh;
    }

}

.profileModal .modal-content {
    border: 6px solid black;
    border-radius: 15px;
    overflow: hidden;
}

.profileModalHeader {
    background-color: #4361ee !important;
    height: 80px;
}

.areYouSureBTN {
    font-size: 14px;
}

.surePrompt button {
    height: 40px;!important;
}

.memberModalType {
    position: absolute;
    top: 0;
    right: 15px;
    font-weight: 800;
    font-size: 40px;
    color: black;
}

.profileModal .modal-footer {
    background-color: #3f37c9;
}

.myHR {
    width: 50%;
    color: #2e007b;
}


/*=== CLUB SCHEDULE ====*/
.clubSchedule .month {
    text-align: center;
}

.clubSchedule table {
    width: 100%;
}

.clubSchedule th {
    padding: 20px 5px;
    text-align: center;

}

.clubSchedule th, .clubSchedule td{
        border: 1px solid white;
}
.clubSchedule td {
    padding: 0 10px;
}

.calendar td {
    text-align: center !important;

}

.clubSchedule {
    /*height: 200vh;*/

 background-color: 	#3f37c9;
}
.clubSchedule table{
     /*background-color: 	#322CA1;*/
   background-color: 	#433bca;
}
.clubSchedule *{
    color:black;
}

.tdWRAP {
    height: 100px !important;
    overflow: hidden;
    width: 10vw;
    padding:0;
    border-bottom:2px solid #480ca8;
}

.tdWRAP h1 {
    font-size: 22px;
    font-weight: 800;
    text-align: center;
}

.scheduleIcon {
    background-color: #04D2F8;
    /*padding:7px;*/

}

#scheduleModal {
    z-index: 25;
    position: absolute;
    /*left:0;*/
    /*right:0;*/
    /*top:0;*/
    /*bottom:0;*/
}

.scheduleModalIcon {
    background-color: #04D2F8;
    position: absolute;
    top: 8px;
    padding: 7px;
    right: 8px;
    width: 50px;
    height: 50px;
}

.scheduleTD {
    margin-left: 35.5% !important;
    margin-right:25px;
    font-size: 14px;
    color:white;


}

.imgschedule{
   width: 35%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}
.imgschedule h2{
    font-size:14px;
    font-weight:800;
    margin-top:3px;
}
.deleteTD {
    position: absolute;
    top: 5px;
    right: 10px;
}

.trainIcon img {
    max-height: 40%;

}


.GIschedule {
    background-color: #1bd8fb;
}

.NOGIschedule {
    background-color: #f2f3f4;
}

.GYMschedule {
    background-color: #6e7ff3;
}

/*================ Presentation =================*/
.aboutLeftBar{
    padding:0 45px;
    /*background-color: var(--cyanBlueFooter);*/
     background-color: var(--paleBlack);
}
#About_view{
     background-color: #2e007b;
     /*background-color: #187DFE;*/
    /*background-color: var(--paleBlack);*/
}
.bigUp{
        font-size:27px !important;
}

.aboutLeftBar li{
    font-size:18px;
    font-weight:600;
    color:white;
    margin-bottom:1px;

}
.docsSection{
    margin-left:20px;
}
.docsSection *{
    color:ghostwhite;
      font-family:Rajdhani, serif;
}
