{% load static %}

<footer id="footer" class="mb-0 navStyling leftNavPadding">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-3 col-md-6 bjjimg  ">
                {#                <img src="{% static 'main/img/bjjcartoontr3.png' %}">#}
            </div>


            <div class="col-lg-3 col-md-6 footer-links">
                <h4 >BJJournal</h4>
                <ul>
                    <li><i class="bi bi-chevron-double-right"></i> <a href="{% url 'bjjournal' %}">Dashboard</a></li>
                    <li><i class="bi bi-chevron-double-right"></i> <a href="{% url 'addSession' %}">Add Training
                        Session</a></li>
                    <li><i class="bi bi-chevron-double-right"></i> <a href="{% url 'yourSessions' %}">Your Training
                        Sessions</a></li>
                    <li><i class="bi bi-chevron-double-right"></i> <a href="{% url 'techniques' %}">Techniques Base</a>
                    </li>
                    <li><i class="bi bi-chevron-double-right"></i> <a href="{% url 'create' %}">To Do App</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
                <h4>Clubs</h4>
                <ul>
                    <li><i class="bi bi-chevron-double-right"></i> <a href="{% url 'clubsIndex' %}">Add / Edit Club</a>
                    </li>
                    <li><i class="bi bi-chevron-double-right"></i> <a href="{% url 'clubMembers' %}">Club Members</a></li>
                    <li><i class="bi bi-chevron-double-right"></i> <a href="{% url 'clubTrainings' %}">Club Training
                        Sessions</a></li>
                    <li><i class="bi bi-chevron-double-right"></i> <a href="{% url 'clubSchedule' %}">Club Schedule</a>
                    </li>
                    <li><i class="bi bi-chevron-double-right"></i> <a href="{% url 'clubsList' %}">Clubs List</a></li>

                </ul>
            </div>
            <div class="col-lg-3 col-md-6 px-4">
                <div class="footer-info">
                    <h3 class="MATIVATED">MATIVATED</h3>
                    <p>
                        g4n3sha5 - creator
                    <h4 class="font-weight-800"> Poznań, <span>Poland</span></h4>

                    </p>
                    <h4>Favourite Grappler:<br>
                        <span class="font-weight-700">Mica Galvão</span>
                    </h4>

                    <div class="social-links mt-3 d-flex justify-content-center">
                        <a href="#" class="facebook"><i class="bi bi-github"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        <a href="#" class="mativated">
                            <img class="fitIMG" src="{% static 'main/img/logo-removebg.png' %}">
                        </a>
                    </div>
                </div>
            </div>


        </div>
    </div>

</footer>