{#{% if messages %}#}
{#    {% for message in messages %}#}
{#        <div class ="alert alert-success px-5 position-absolute " role ="alert">#}
{#            <a href="#" class="close" data-dismiss="alert" aria-label ="close">&times;</a>#}
{#           {{ message }}#}
{#            - {{ message.tags }}#}
{#        </div>#}
{##}
{#    {% endfor %}#}
{#{% endif %}#}
{% if messages %}
  {% for msg in messages %}
      <div class=" w-100 position-fixed  justify-content-center mx-5">
          <div class=" center-block alert alert-info alert-dismissable text-center">
              <button type="button" class="btn btn-outline-dark close float-end" onclick="this.parentNode.remove()" data-dismiss="alert" aria-hidden="true">&times;</button>
              {{msg.message}}
        </div>

      </div>

  {% endfor %}
{% endif %}