{% load static %}


<nav id="header" class="
 navStyling navContainer navbar d-flex fixed-top  align-items-center
 navbar-dark navbar-expand-lg ">
    <a class="ml-5 navbar-brand nav-link  position-absolute d-inline p-1" target="_blank" href="/">
        <img src=" {% static 'main/img/logo-removebg.png' %}">
    </a>

    <button class="navbar-toggler  position-absolute "

            data-bs-target=".mainNavCollapse"
            data-bs-toggle="collapse"
            aria-expanded="false"
            aria-controls="collapseWrap">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class=" mainNavCollapse collapse navbar-collapse   align-items-center
    justify-content-center justify-content-lg-end ">
        <div class="navbar-nav  d-flex px-lg-4 text-center pb-3 pb-lg-0  justify-content-lg-end">
            <a class="nav-item hoverScale" href="/">Home</a>
            <a class="nav-item hoverScale" href="/bjjournal">BJJournal</a>
            <a class="nav-item hoverScale" href="/clubs">Clubs</a>

            {#                                ACCOUNT BUTTON#}

            <div class="nav-item dropdownParent ">
                <a type="button"
                   class=" text-center dropdown-toggle hoverScale "
                   data-bs-target=".supportDropdown"
                   data-bs-toggle="collapse"
                   aria-haspopup="true"
                   aria-expanded="false">Support</a>
                <div class=" navDropdown supportDropdown dropdown-menu  ">

                    <a class="dropdown-item" href="{% url 'about' %}">About</a>


                </div>
            </div>


                    <div class="  nav-item   dropdownParent acc px-lg-2  ">
                <a type="button"
                   class=" text-center dropdown-toggle hoverScale"
                   data-bs-target=".accountDropdown"
                   data-bs-toggle="collapse"
                   aria-haspopup="true"
                   aria-expanded="false">Account</a>
                <div class=" navDropdown accountDropdown dropdown-menu   ">

                    {% if user.is_authenticated %}

                        <a class="dropdown-item " href="{% url 'account' %}">Account</a>
                        <a class="dropdown-item " href="{% url 'profile' %}">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item " href="{% url 'account_logout' %}">Log Out</a>

                    {% else %}
                        <a class="dropdown-item  " href="{% url 'account_login' %}">Log In</a>
                        <a class="dropdown-item " href="{% url 'account_signup' %}">Sign Up</a>
                    {% endif %}

                </div>

            </div>
            {% if user.is_authenticated %}
            <div id="notiParent">


                    {% include 'Notifications/notificationIcon.html' %}
        </div>
                {% endif %}

            <div class="nav-item  dropdownParent mx-lg-5 mt-1  my-0  d-none ">
                <div class="selected  fitIMG flagIMG hoverScale dropdown-toggle">
                    <img src="{% static 'main/img/ukflag.png' %}">
                </div>
                <div class=" navDropdown  flagDropdown dropdown-menu  ">
                    <div class="toSelect fitIMG flagIMG dropdown-item d-flex justify-content-center w-100 px-0">
                        <img src="{% static 'main/img/plflag.png' %}">
                    </div>


                </div>
            </div>

        </div>
    </div>

</nav>


{#<div class="container-fluid navStyling navContainer mx-0 p-0#}
{#m-0 d-flex justify-content-between align-items-center  fixed-top#}
{#{% if request.path == '/' %} landingNavbar {% endif %}">#}
{##}
{##}
{#    <nav class=" w-100 navbar  navbar-dark m-0 px-0 py-0  d-block">#}
{#        <div class=" container p-0 positionAdjust h-100 p-0">#}
{#        <div class="px-2 m-0  ">#}
{#            <button class="navbar-toggler position-absolute"#}
{#                    data-bs-target=".mainNavCollapse"#}
{#                    data-bs-toggle="collapse"#}
{#                    aria-expanded="false"#}
{#                    aria-controls="collapseWrap">#}
{#                <span class="navbar-toggler-icon"></span>#}
{#            </button>#}
{##}
{#            #}
{#                </div>#}
{#            </div>#}
{##}
{#        </div>#}
{##}
{#    </nav>#}
{#</div>#}