<div class="docsSection">


<h1> Overview</h1>
<p>

    As numerous studies have shown, monitoring your progress and tracking your habits
    make us significantly more prone to improve our behaviour and progress faster.
    Small wins are massive motivators, but we need to recognize them.
    This project provides utilities for people who love sport - grappling Martial Arts,
    this app is specifically created for Brazilian Jiu Jitsu, however can be used by people training
    other similiar sports too. This app is suitable both for Academies and Individuals.
</p>
</div>

<div class="docsSection">
   <h1> Objectives and Benefits</h1>
  <ul>
    <li>Boost your progress by tracking your: Frequency, Intensity, Duration</li>
    <li>Summarize your training</li>
    <li>Manage your Club, see members, join Training Sessions, track Techniques and sparring partners.</li>
    <li>Check your stats and see where you can improve</li>
    <li>Create a Techniques Database, when every community member can add a technique</li>
</ul>

</div>
<div class="docsSection">

 <h1>Key features</h1>
<ul>
    <li>Open Techniques Database</li>
    <li>To Do List manager</li>
    <li>Club manager with social aspect</li>
    <li>Workout Journal (BJJournal) to save your Training Sessions</li>
</ul>
</div>