<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% include 'main/../../../main/templates/common/load_basic_scripts.html' %}
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
    <title> {% block title %}  MATIVATED {% endblock %} </title>



</head>

<body>

  {%include "common/navbar.html" %}
  {% include "BJJournal/BJR_leftsideMenu.html" %}

<div class=" BJR container-fluid p-0 min-vh-100
         overflow-hidden m-0 leftNavPadding ">


    <div class="  min-vh-100">

        {% if user.is_authenticated %}


        <style>
            .BJR_content{
                background-image: url("{% static 'main/img/sam-mgrdichian5.webp' %}");

            }
        </style>
            <div
                 class="BJR_content position-relative p-0">

                <section id="BJR_view" class=" container-fluid w-100 p-0 position-relative ">

                {% block content %}

                {% endblock %}
                </section>
            </div>


        {% else %}
            <a href="/login">Login Here to see content</a>
        {% endif %}

    </div>
</div>
{% include "common/footer.html" %}

{#    {% include "common/foo ter.html" %}#}
<script>
    document.body.addEventListener('htmx:configRequest', function (evt) {
        evt.detail.headers['X-CSRFToken'] = '{{csrf_token}}'
    });
</script>

{#{% block script %}#}

    <script type="text/javascript" src="{% static 'BJJournal/scripts.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/scripts.js' %}"></script>

{#{% endblock %}#}


</body>
</html>