<section id="body-pd">
    <div class="l-navbar navStyling  " id="nav-bar">
          <div class="header_toggle text-center">
                <span class='navbar-toggler-icon' id="header-toggle">
                    <i class="bi bi-list"></i>
                </span>
                <span class="closeNavIcon d-none">
                    <i class="bi bi-x-lg"></i>
                </span>
            </div>
        <nav class="p-0 m-0  pt-5 ">
{#            <div> <a href="#" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span class="nav_logo-name">BBBootstrap</span> </a>#}


                <div class="pt-1 nav_list d-flex flex-column
                justify-content-center align-items-center">

                    <a  class="nav_link scrollto active"
                        hx-target="#BJR_view"
                        hx-get=" {% url 'dashboard' %}">
                       <i class="bi bi-border-all  nav_icon"></i>
                        <span class=" px-2 nav_name">Dashboard</span>
                    </a>


                    <a class="nav_link scrollto"
                        hx-target="#BJR_view"
                        hx-get=" {% url 'addSession' %}">
                        <i class="bi bi-file-earmark-plus-fill  nav_icon"></i>
                        <span class=" px-2 nav_name">Add Session</span>
                    </a>

                    <a class="nav_link scrollto"
                        hx-target="#BJR_view"
                        hx-get=" {% url 'yourSessions' %}">
                        <i class="bi bi-collection-fill nav_icon"></i>
                        <span class=" px-2  nav_name">Your Sessions </span></a>

                    <a class="nav_link scrollto">
                        <i class="bi bi-bullseye nav_icon" ></i>
                        <span class=" px-2  nav_name">Workout Goals</span>
                    </a>

                    <a  class="nav_link scrollto"
                        hx-target="#BJR_view"
                        hx-get=" {% url 'techniques' %}">
                       <i class="bi bi-diagram-2-fill  nav_icon"></i>
                        <span class=" px-2  nav_name">Techniques</span>
                    </a>

                    <a  class="nav_link scrollto"
                        hx-target="#BJR_view"
                        hx-get=" {% url 'create' %}">
                       <i class="bi bi-card-checklist nav_icon"></i>
                        <span class=" px-2  nav_name">To Do</span>
                    </a>
                </div>

{#                    <a href="#" class="nav_link"> <i class='bx bx-message-square-detail nav_icon'></i>#}
{#                        <span class="nav_name">Messages</span> </a>#}
{#                    <a href="#" class="nav_link"> <i class='bx bx-bookmark nav_icon'></i> <span class="nav_name">Bookmark</span> </a>#}
{#                    <a href="#" class="nav_link"> <i class='bx bx-folder nav_icon'></i> <span class="nav_name">Files</span> </a>#}
{#                    <a href="#" class="nav_link"> <i class='bx bx-bar-chart-alt-2 nav_icon'></i> <span class="nav_name">Stats</span> </a> </div>#}
{#            </div> <a href="#" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">SignOut</span> </a>#}
        </nav>
    </div>
    <!--Container Main start-->
{#    <div class="height-100 bg-light">#}
{#        <h4>Main Components</h4>#}
{#    </div>#}
    <!--Container Main end-->
    </section>