{% load static %}
<div class="sideMenuLayout col-md-2 col-md-2-5 BJR_sideMenu h-100
 d-flex justify-content-">
    <div class="d-flex flex-column">

      <div class="profile mb-5">
    {#    <img src="assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">#}
        <h1 class="text-light"><a href="index.html"></a>{{user.username  }}</h1>
        <div class="mt-3 text-center">
          <a href="#" >A</a>
          <a href="#" >B</a>
          <a href="#" >C</a>
          <a href="#" ><i class="bx bxl-skype"></i></a>
          <a href="#" ><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul class="list-unstyled px-3">

            <li class="py-3">
                <a  class="nav-link scrollto active"
                    hx-target="#BJR_view"
                    hx-get=" {% url 'dashboard' %}">
                    <i class="bi bi-border-all px-3"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="py-3">
                <a class="nav-link scrollto"
                    hx-target="#BJR_view"
                    hx-get=" {% url 'addSession' %}">
                    <i class="bi bi-file-earmark-plus-fill px-3"></i>
                    <span>Add Session</span>
                </a>
            </li>

            <li class="py-3">
                <a class="nav-link scrollto"
                    hx-target="#BJR_view"
                    hx-get=" {% url 'yourSessions' %}">
                    <i class="bi bi-collection-fill px-3"></i>
                    <span>Your Sessions</span></a>
            </li>


            <li class="py-3"><a href="#portfolio" class="nav-link scrollto"><i class="bi bi-bullseye px-3"></i> <span>Workout Goals</span></a></li>

            {#          <li class="py-3"><a href="#portfolio" class="nav-link scrollto"><i class=" px-3"> <img src="{% static 'BJJournal/img/technique.png' %}"> </i><span>Techniques</span></a></li>#}
            <li class="py-3">
                <a  class="nav-link scrollto"
                    hx-target="#BJR_view"
                    hx-get=" {% url 'techniques' %}">
                    <i class="bi bi-diagram-2-fill px-3"></i> </i>
                    <span>Techniques</span>
                </a>
            </li>



        </ul>
      </nav>
    </div>
</div>