{% load static %}
<div class="col-lg-2  text-center  countSection h-100 ">

    <div class="countItems">

        <div class="count_item">
            <div class=" text-center row  ">
                <div class="hours_count col-7">
                    <div class="hours_count-wrap">
                         145h
                         <hr class="dashed">
                        <h3 >Total</h3>
                    </div>
                </div>
                <div class="count_icon col-5">
                    <img src="{% static 'BJJournal/img/time.png' %}">
                </div>


            </div>
        </div>

        <div class="count_item">
            <div class="text-center row ">
                <div class="hours_count col-7">
                    <div class="hours_count-wrap">
                         145h
                         <hr class="dashed">
                        <h3 > Gi</h3>
                    </div>
                </div>

                <div class="count_icon col-5">
                    <img src="{% static 'BJJournal/img/judo2.png' %}">

                </div>

            </div>
        </div>

        <div class="count_item " >
            <div class=" text-center row ">

                 <div class="hours_count col-7" >
                     <div class="hours_count-wrap">
                         145h
                         <hr class="dashed">
                        <h3 >No Gi</h3>
                    </div>
                 </div>

                <div class="count_icon col-5">
                    <img src="{% static 'BJJournal/img/nogi.png' %}">
                </div>

            </div>
        </div>

        <div class="count_item ">
            <div class=" text-center row">
                 <div class="hours_count col-7">
                     <div class="hours_count-wrap">
                         145h
                         <hr class="dashed">
                        <h3 >Gym</h3>
                    </div>
                 </div>
                <div class="count_icon col-5">
                    <img src="{% static 'BJJournal/img/dumbbell.png' %}">

                </div>

            </div>
        </div>

        <div class="count_item ">
            <div class=" text-center row">
                 <div class="hours_count col-7">
                     <div class="hours_count-wrap">
                         145h
                         <hr class="dashed">
                        <h3 >30 days</h3>
                    </div>
                 </div>
                <div class="count_icon col-5">
                    <img src="{% static 'BJJournal/img/calendar.png' %}">

                </div>

            </div>
        </div>

        <div class="count_Add w-100">
            <div class=" align-items-center  ">
                <div class="count_AddIcon"
                     hx-target="#BJR_view"
                    hx-get=" {% url 'addSession' %}">>
                    <img src="{% static 'BJJournal/img/plus.png' %}">
                </div>
            </div>
        </div>


    </div>
</div>