{% load static %}


<div class="dashboardCount pb-2  position-relative flex-column d-flex justify-content-center w-100 h-100 px-0 ">
         <h1>hababa</h1>




        <div class="lastSessions w-100">

            <h1>Last Sessions</h1>
            <div class=" align-items-center w-100 row h-100">

                    <div class="card text-white bg-dark mb-3 col-lg-2" style="max-width: 20rem;">
                      <div class="card-header">#354</div>
                      <div class="card-body">
                        <h4 class="card-title">1 day ago</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                    </div>

                 <div class="card text-white bg-dark mb-3 col-lg-2">
                      <div class="card-header">#358</div>
                      <div class="card-body">
                        <h4 class="card-title">4 days ago</h4>
                        <p class="card-text">Triangle drills, escape from closed guard.</p>
                      </div>
                    </div>
            </div>

        </div>



        {% include 'BJJournal/BJR_dashboard_count.html' %}
</div>