{% load static %}
<div class="col-lg-2 BJR_sideMenu h-100">
    <div class="d-flex flex-column">

      <div class="profile">
    {#    <img src="assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">#}
        <h1 class="text-light"><a href="index.html"></a>{{user.username  }}</h1>
        <div class="mt-3 text-center">
          <a href="#" >A</a>
          <a href="#" >B</a>
          <a href="#" >C</a>
          <a href="#" ><i class="bx bxl-skype"></i></a>
          <a href="#" ><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul class="list-unstyled">

          <li class="py-3">
                <a  class="nav-link scrollto active"
                    hx-target="#BJR_view"
                    hx-get=" {% url 'dashboard' %}">
                    <i class="bi bi-border-all px-2"></i>
                    <span>Dashboard</span>
                </a>
          </li>

          <li class="py-3"><a href="#about" class="nav-link scrollto"><i class="bi bi-file-earmark-plus-fill px-2"></i></i> <span>Add Session</span></a></li>
          <li class="py-3"><a href="#resume" class="nav-link scrollto"><i class="bi bi-collection-fill px-2"></i> <span>Your Sessions</span></a></li>
          <li class="py-3"><a href="#portfolio" class="nav-link scrollto"><i class="bi bi-bullseye px-2"></i> <span>Workout Goals</span></a></li>

        </ul>
      </nav>
    </div>


</div>