{% extends base_template %}
{% load crispy_forms_filters %}
{%  load static %}
{%load crispy_forms_tags %}

{% block content %}
<div class="techniqueSection row m-0 p-0   ">
 {% include 'common/messages.html' %}

    <div class="leftSideTechnique px-0 col-12 col-lg-8  text-white navPadding border-0     ">


        <div class="leftTechSection   ">
            {{ form.errors }}
            <form method ="post">

                {% csrf_token %}

                <h1 class="text-white text-center py-3">Add a technique</h1>
                <hr class="text-white mx-5 my-3">



    {#                {% include "common/messages.html" %}#}
                    {% include 'BJJournal/BJR_Techniques/BJR_Techniques_types.html' %}



                <div class="nameSection border-white row text-black d-flex justify-content-center  mb-3">
                    {% include 'BJJournal/BJR_Techniques/BJR_Techniques_names.html' %}
                </div>


                <div class="techNotes d-flex justify-content-center my-3 mt-4   ">
                    <label class="w-75">
                        <textarea class ="BJRnotes form-control mx-3 w-100 "
                            name="description" type="text"
                            placeholder="Technique info / tips / video link...."></textarea>
                    </label>
                </div>
             <div class="d-flex justify-content-center px-5 ">
                 <button
                         type="button"
                         name ="save"
                         class="addTechBtn btn  btn-primary p-3 mt-5
                          text-white w-100"
                        hx-post="{% url 'techniques'  %}"
                        hx-target="#BJR_view">
                     Add Technique</button>
            </div>
            </form>

        </div>
    </div>


        {% include 'BJJournal/BJR_Techniques/BJR_Techniques_List.html' %}

</div>
{% endblock %}


