{% load crispy_forms_filters %}
{%  load static %}
{%load crispy_forms_tags %}
<div class="techniqueSection row m-0 p-0 h-100 mb-5 ">
 {% include 'common/messages.html' %}

    <div class="col-lg-8 h-100 text-white  border-0 pb-5">


        <div class="leftTechSection   ">
            {{ form.errors }}
            <form method ="post">

                {% csrf_token %}

                <h1 class="text-white text-center py-3">Add a technique</h1>
                <hr class="text-white mx-5 my-3">


                <div class="row addSession techniqueType pb-2 px-5 justify-content-between d-flex ">
    {#                {% include "common/messages.html" %}#}
                    {% include 'BJJournal/BJR_Techniques/BJR_Techniques_types.html' %}
                </div>


                <div class="nameSection border-white row text-black d-flex justify-content-center  mb-3">
                    {% include 'BJJournal/BJR_Techniques/BJR_Techniques_names.html' %}
                </div>


                <div class="techNotes d-flex justify-content-center my-5">
                    <label class="w-75">
                        <textarea class ="BJRnotes form-control mx-3 w-100 "
                            name="description" type="text"
                            placeholder="Technique info / tips / video link...."></textarea>
                    </label>
                </div>
             <div class="d-flex justify-content-center px-5 mt-3 ">
                 <button
                         type="button"
                         name ="save"
                         class="addTechBtn btn  btn-primary p-3 mt-5
                          text-white w-100"
                        hx-post="{% url 'techniques'  %}"
                        hx-target="#BJR_view">
                     Add Technique</button>
            </div>
            </form>

        </div>
    </div>

    <div class="techList   col-lg-4 h-100 text-white px-5">
        {% include 'BJJournal/BJR_Techniques/BJR_Techniques_List.html' %}
    </div>


</div>


