{% load static %}


<div class="dashboardCount pb-2  justify-content-center px-0 ">
    `{% include 'BJJournal/BJR_dashboard/BJR_dashboard_timeline.html' %}
        <section class="spikes">

        </section>


        <div class="lastSessions w-100 pt-3 mb-3">

            <h1 class="text-white">Last Sessions</h1>
            <div class=" align-items-center w-100 row h-100">

                    <div class="card text-white bg-dark mb-3 col-lg-2">

                        <div class="card-header">#354</div>
                        <div class="card-body">
                        <h4 class="card-title">1 day ago</h4>
                        <p class="card-text">Mount escape, </p>
                        </div>
                    </div>

                 <div class="card text-white bg-dark mb-3 col-lg-2">

                      <div class="card-header">#358</div>
                      <div class="card-body">
                        <h4 class="card-title">4 days ago</h4>
                        <p class="card-text ">Triangle drTriangleTriangleTriangleTriangleTriangleTriangleills, escape from closed guard.</p>
                      </div>

                </div>

            </div>

        </div>




</div>