{% load static %}
<div class="col-lg-2  text-center  countSection h-100 ">

        <div class="count_item  ">
            <div class="feature-1 text-center row align-items-center">
                 <div class="hours_count col-4"> 550h</div>
                <div class="count_icon col-8 ">
                    <img src="{% static 'BJJournal/img/time.png' %}">
                    <h3 class="mb-3">Total</h3>
                </div>


            </div>

        </div>

        <div class="count_item ">
            <div class="feature-1 text-center row align-items-center">
                <div class="hours_count col-4"> 405h</div>
                <div class="count_icon col-8">
                    <img src="{% static 'BJJournal/img/judo.png' %}">
                    <h3 class="mb-3">Gi</h3>
                </div>

            </div>

        </div>

        <div class="count_item " >
            <div class="feature-1 text-center row align-items-center">
                 <div class="hours_count col-4">145h</div>
                <div class="count_icon col-8">
                    <img src="{% static 'BJJournal/img/nogi.png' %}">
                    <h3 class="mb-3">No gi</h3>
                </div>

            </div>

        </div>

        <div class="count_item ">
            <div class="feature-1 text-center row align-items-center">
                 <div class="hours_count col-4 "> 50h </div>
                <div class="count_icon col-8 ">
                    <img src="{% static 'BJJournal/img/calendar.png' %}">
                    <h3 class="mb-3 "> Month</h3>
                </div>

            </div>

        </div>

    </div>