<div class="BJR_timeline">
     <section class="time-line-box">
            <div class="swiper-container text-center">
                <div class="swiper-wrapper">

                    <div class="swiper-slide-wrap ">
                        <div class="swiper-slide">
                            <div class="timestamp"><span class="date">12.07.2022</span></div>
                             <span>Monday</span>
                        </div>
                    </div>

                    <div class="swiper-slide-wrap">
                        <div class="swiper-slide">
                            <div class="timestamp"><span class="date">13.07.2022</span></div>
                            <span>Tuesday</span>
                        </div>
                    </div>

                    <div class="swiper-slide-wrap">
                        <div class="swiper-slide">
                            <div class="timestamp"><span class="date">14.07.2022</span></div>
                            <span>Wendesday</span>
                        </div>
                    </div>

                    <div class="swiper-slide-wrap">
                        <div class="swiper-slide">
                            <div class="timestamp"><span class="date">15.07.2022</span></div>
                            <span>Thursday</span>
                        </div>
                    </div>

                    <div class="swiper-slide-wrap">
                        <div class="swiper-slide">
                            <div class="timestamp"><span class="date">16.07.2022</span></div>
                            <span>Friday</span>
                        </div>
                    </div>

                    <div class="swiper-slide-wrap">
                        <div class="swiper-slide">
                            <div class="timestamp"><span class="date">17.07.2022</span></div>
                            <span>Saturday</span>
                        </div>
                    </div>


                    <div class="swiper-slide-wrap">
                        <div class="swiper-slide">
                            <div class="timestamp"><span class="date">18.07.2022</span></div>
                            <span>Sunday</span>
                        </div>
                    </div>

                <div class="swiper-pagination"></div>
            </div>
       </section>
</div>