{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% load static %}

<div class="addSessionSection p-5 mt-3 h-100 w-100 ">

     {% include 'common/messages.html' %}


    <h1 class="text-white text-center">Add new session</h1>
    <hr class="text-light">

{#    <form method ="post" action ="/addSession/">#}
    <form method ="post">
        {% csrf_token %}
        <div class="text-white">{{ BJRform.errors }}</div>
        <div class="addSession row justify-content-between  px-3 py-2">
            {%  include 'BJJournal/BJR_addSession/BJR_addSession_sessionType.html' %}

            <div class="BJRnotesWrap col-lg-5 col-7 mt-5 mt-lg-0">
                <label class="h-100 w-100">
                    {{BJRform.notes}}
                </label>
            </div>
                {#    DATE        #}
            <div class="col-lg-2 col-4 position-relative sessionDate mt-5 mt-lg-0 overflow-hidden">
                <div class=" w-100 h-100 text-center p-3 ">

                    <div class="datepicker-toggle mb-3">
                        <h3 class="">Date (Optional)</h3>
                         <label>
                            {{ BJRform.date }}
                         </label>
                    </div>

                    <div class="d-flex px-3 justify-content-between">
                        <span class="quickDate today btn btn-outline-info">Today</span>
                        <span class="quickDate yesterday btn btn-outline-info ">Yesterday</span>
                    </div>

                </div>
            </div>
        </div>

        <hr class="text-light  ">

        <div class="addSession row justify-content-between align-items-start mt-4 px-2 mb-4">

            <div class="col-md-5 sectionLength p-3 justify-content-between px-5 position-relative">

                {% include 'BJJournal/BJR_addSession/BJR_addSession_sessionLength.html' %}
            </div>

            <div class="col-md-5 addSection sectionTechniques px-3
            justify-content-center position-relative">
                {% include 'BJJournal/BJR_addSession/BJR_addSession_Techniques.html' %}
            </div>

            <div class=" col-md-2 sessionLocation text-center d-flex flex-column py-3 align-items-center">
                <div class="my-auto">
                    <h2 class="pb-2"><i class="bi bi-geo-fill"></i></h2>
                    <label>
                        {{BJRform.location}}
                    </label>
                </div>
             </div>



        </div>
        <div class="addSessionButtonWrap d-flex justify-content-center pt-5 ">
            <button
                         type="button"
                         name ="save"
                         class="addSessionButton btn  btn-primary p-3 mt-5
                          text-white w-75 "
                        hx-post="{% url 'addSession'  %}"
                        hx-target="#BJR_view">
                     Add Training Session</button>

        </div>



    </form>

</div>