{% load static %}
<div id="modalContainer"></div>

<div class="yourSessionsSection 5 mt-3 w-100 navPadding ">

    {% for session in sessionsList  %}
    {#    {% for session in sessionsList reversed %}#}
    <div hx-get="{% url 'singleSessionView' session.id session.orderIndex %}"
         hx-target="#modalContainer"
         class="grid-item img-buddha ">

        <div class="sessionDate p-2 px-3 d-flex justify-content-between w-100">
            {% if session.date %}
                <h3>
                    {{ session.date }}
                </h3>
            {% endif %}
            <h4 class="SessionId">
                #{{  session.orderIndex}}
            </h4>
        </div>


        <div class="SessionNotes  py-lg-1 px-3 ">
            <div class="row h-100 ">

                <div class="col-6 SessionNotesLeft h-100 ">
                    {% if session.notes !=  None %}
                        <div class="cut-overflow h-100">
                            {{ session.notes }}.
                        </div>
                    {% endif %}
                </div>

                <div class="col-6 p-3 h-100">
                    {% if session.techniques != None %}
                        <div class="cut-overflow h-100">
                            {% for technique in session.techniques.all %}
                                <h4 class="d-inline sessTechnique">{{ technique }}</h4>
                            {% endfor %}
                        </div>

                    {% endif %}
                </div>

            </div>
        </div>

        <div class="SessionInfo overflow-hidden d-flex justify-content-end align-items-stretch mx-0">

            {#                /% if club has logo %}#}
            {#                <div class="col-2 SessionLogo">#}
            {#                    <img alt="Club ogo" src="{% static 'BJJournal/img/gblogo.png' %}">#}
            {#                </div>  #}

            <div class=" SessionLogo  d-flex align-items-center justify-content-center ">
                {#                    {% if session.location %}#}
                <h3 class="font-weight-700">{{ session.location }}</h3>
                {#                    {% endif %}#}
            </div>


            <div class="w-25 yourSessionsType count_icon d-flex   overflow-hidden p-2 ">
                <img alt="No Gi training symbol" src="{% static 'BJJournal/img/' %}{{ session.type }}.png">

            </div>

            <div class="w-25  sessionLength d-flex align-items-center p-2 justify-content-center">
                <h4> {{ session.length }}h</h4>
            </div>

            {#                {% if session.location %}#}

        </div>

    </div>

    {% endfor %}

    {% if sessionsList.has_next or sessionsList.has_previous %}
        <div class="d-flex justify-content-center w-100 pagiNav">

            <nav class=" text-center" aria-label="Page navigation example">
                <h1 class="pagiCap"> Page {{ sessionsList.number }}
                    of
                    {{ sessionsList.paginator.num_pages }}
                </h1>

                <ul class="pagination">

                    {% if sessionsList.has_previous %}
                        <li class="page-item">
                            <a class="page-link"
                               hx-get="{% url 'yourSessions' %}?page={{ sessionsList.number| add:"-1" }}"
                               hx-target="#BJR_view"
                            >Previous
                            </a>
                        </li>
                    {% endif %}

                    <li class="page-item">
                        <a class="page-link"
                           hx-get="{% url 'yourSessions' %}?page=1"
                           hx-target="#BJR_view">
                            1
                        </a>
                    </li>

                    {% if sessionsList.paginator.num_pages > 1 %}
                        <li class="page-item">
                            <a class="page-link"
                               hx-get="{% url 'yourSessions' %}?page=2"
                               hx-target="#BJR_view"
                            >2
                            </a>
                        </li>
                    {% endif %}
                    {% if sessionsList.paginator.num_pages > 2 %}
                        <li class="page-item">
                            <a class="page-link"
                               hx-get="{% url 'yourSessions' %}?page=3"
                               hx-target="#BJR_view"
                            >3
                            </a>
                        </li>
                    {% endif %}
                    {% if sessionsList.has_next %}
                        <li class="page-item">
                            <a class="page-link"
                               hx-get="{% url 'yourSessions' %}?page={{ sessionsList.number| add:1 }}"
                               hx-target="#BJR_view"
                            >Next
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endif %}
</div>
{#        <div class="grid-item img-buddha cursor-pointer">#}
{#            <div class="SessionDate p-2 px-3 d-flex justify-content-between">#}
{#                <h3>29.04.2022       18:00</h3>#}
{#                <h4 class="SessionId">#254</h4>#}
{#            </div>#}
{##}
{#            <div class="SessionNotes py-0 px-3">#}
{#                <div class="row h-100">#}
{#                    <div class="col-6 SessionNotesLeft p-3">#}
{#                        <h4>trening u kabana twoja staraa zapierdala...</h4>#}
{#                    </div>#}
{#                    <div class="col-6 p-3">#}
{#                        <h4>Balacha, skrętówka</h4>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="SessionInfo row d-flex justify-content-end align-items-center mx-0  ">#}
{#                <div class="col-4 SessionLogo text-center">#}
{#                    <h3 class="font-weight-700">Poznań Gracie Barra</h3>#}
{#                    <img alt="Club ogo" src="{% static 'BJJournal/img/gblogo.png' %}">#}
{##}
{#                </div>#}
{##}
{#                <div class="col-2">#}
{#                    <div class="yourSessionsType count_icon p-2">#}
{#                        <img alt="No Gi training symbol" src="{% static 'BJJournal/img/nogi.png' %}">#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-2 SessionLength d-flex align-items-center justify-content-center font-weight-600">#}
{#                       <h4> 2</h4> <h5>h</h5>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}
{#</div>#}
{##}
{##}
