{% load static %}


<h2 class="typeH2 text-white text-center pb-3">Technique type</h2>

<div class="count_icon col-md-2 col-1">
    <div class="caption">Choke</div>
    <label>
        <input class="sessionType" type="radio" name="type" value="choke"/>
        <img alt="Choke icon" src="{% static 'BJJournal/img/choke-nobg.png' %}">
    </label>
</div>

<div class="count_icon col-md-2 col-1 ">
    <div class="caption">Throw</div>
    <label>
        <input class="sessionType" type="radio" name="type" value="takedown"/>
        <img alt="Takedown icon"  src="{% static 'BJJournal/img/throw-nobg.png' %}">
    </label>
</div>

<div class=" count_icon col-md-2 col-1 ">
    <div class="caption">Lever / Lock</div>
    <label>
        <input class="sessionType" type="radio" name="type" value="lever"/>
        <img alt="Lever, lock icon"  src="{% static 'BJJournal/img/armbar-nobg.png' %}">
    </label>
</div>

<div class=" count_icon col-md-2 col-1 ">
    <div class="caption">Sweep</div>
    <label>
        <input class="sessionType" type="radio" name="type" value="GYM"/>
        <img alt="Sweep icon"  src="{% static 'BJJournal/img/sweep-nobg.png' %}">
    </label>
</div>

<div class=" count_icon col-md-2 col-1 ">
    <div class="caption">Position / Guard</div>
    <label>
        <input class="sessionType" type="radio" name="type" value="GYM"/>
        <img alt="Guard icon"  src="{% static 'BJJournal/img/guard-nobg.png' %}">
    </label>
</div>




