{% load static %}

{#<div  class="col-lg-3 h-100 p-5 position-relative card-mother">#}
{##}
{#{% include 'Journal/create_formToDo.html' %}#}
{##}
{#<div id="listsDisplayer">#}
{#    {% include 'Journal/create_listsView.html' %}#}
{#</div>#}

{#</div>#}
<div class="row h-100">
    <div class="col-md-2 col-md-2-5 h-100 text-white
    card-mother sideMenuLayout d-flex justify-content-center px-5  ">
        {% include "Journal/create_menu.html" %}
    </div>

     <div class="col-md-10 col-md-9-5 gradient-custom h-100
     justify-content-center  d-flex m-0 px- ">
        <div id="singleList" class="w-50= row d-flex ">
        </div>
     </div>

</div>


