{% load static %}

{#<div  class="col-lg-3 h-100 p-5 position-relative card-mother">#}
{##}
{#{% include 'Journal/create_formToDo.html' %}#}
{##}
{#<div id="listsDisplayer">#}
{#    {% include 'Journal/create_listsView.html' %}#}
{#</div>#}

{#</div>#}
<div class="row min-vh-100 m-0 p-0  ">

    <div class=" order-2 order-lg-1 col-lg-8 col-12 min-vh-100  justify-content-center  d-flex ">
        <div id="singleList" class="row d-flex  ">
        </div>
    </div>

    <div class="techList order-1 order-lg-2 col-12 col-lg-4 min-vh-100 text-white px-5 overflow-hidden">
        {% load static %}

        <div class="d-flex flex-column">
    <h1>To do manager</h1>
{#            <div class="profile">#}
{#                <img src="assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">#}
{#                <h1 class="text-light"><a href="index.html"></a>{{ user.username }}</h1>#}
{#                <div class="mt-3 text-center">#}
{#                    <a href="#">A</a>#}
{#                    <a href="#">B</a>#}
{#                    <a href="#">C</a>#}
{#                    <a href="#"><i class="bx bxl-skype"></i></a>#}
{#                    <a href="#"><i class="bx bxl-linkedin"></i></a>#}
{#                </div>#}
{#            </div>#}


            <nav id="navbar" class="nav-menu navbar">
                <ul class="list-unstyled px-3">
                    <form method="post" action="/create/">
                        <div class="input-group mb-3 p-0">

                            <div class="input-group-prepend p-0">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button hx-post="{% url 'create_menu' %}"
                                        hx-target=".card-mother"
                                        name="save" class="btn btn-success">
                                    Create To Do List
                                </button>
                            </div>

                        </div>
                    </form>

                    <div id="listsDisplayer">
                        {% include 'Journal/create_listsView.html' %}
                    </div>
                    {##}
                    {#          <li class="py-3"><a href="#resume" class="nav-link scrollto"><i class="bi bi-collection-fill px-2"></i> <span>Your Sessions</span></a></li>#}
                    {#          <li class="py-3"><a href="#portfolio" class="nav-link scrollto"><i class="bi bi-bullseye px-2"></i> <span>Workout Goals</span></a></li>#}

                </ul>
            </nav>


        </div>

    </div>

</div>


