<H1> Your Lists:</H1>
{#<p>{{ ListCollection }}</p>#}
<ul class=" list-group list-group-flush flex-fill  bg-none">

{% for td in ListCollection %}

        <li class="list-group-item p-2 d-flex  align-items-center justify-content-between  mb-1 bg-transparent">

        {#       div containing list name #}
            <div class = "d-flex text-decoration-none text-white w-100 "
                hx-target = "#singleList"
                hx-get = "/{{ td.id }}"
                style="cursor:pointer"
            >
                {{ forloop.counter }}. {{  td.name  }}

            </div>

        {#REMOVE ICON            #}
                <div
                        hx-delete="{% url 'removeList' td.id %}"
                        hx-confirm="Are you sure?"
                        hx-target="#reloadDiv"
                        type="submit"
                        class="p-2 border-0">
                        <i class=" binbut fa fa-lg fa-trash"> </i>
                </div>
            </form>

        </li>
{% endfor %}
 </ul>

