{#<!DOCTYPE html>#}
{#{% load static %}#}
{#<html lang="en">#}
{#<head>#}
{#    {% include 'main/../../../main/templates/common/load_basic_scripts.html' %}#}
{#    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">#}
{#    <title> {% block title %}  MATIVATION {% endblock %} </title>#}
{#</head>#}
{##}
{#<body  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>#}
{##}
{# {%include "common/navbar.html" %}#}
{##}
{#        <div class = "JRLN container-fluid vh-100 p-0 overflow-hidden ">#}
{#            {% include "common/messages.html" %}#}
{#            {% if user.is_authenticated %}#}
{##}
{#                {% block content %}#}
{#                {% endblock %}#}
{##}
{#            {% else %}#}
{#                <a href="/login">Login Here to see content</a>#}
{#            {% endif %}#}
{##}
{#        </div>#}
{##}
{#    <script>#}
        {#document.body.addEventListener('htmx:configRequest', function(evt) {#}
        {#    evt.detail.headers['X-CSRFToken] = '{{csrf_token}}'#}
{##}
{#    </script>#}
{#</body>#}
{#</html>#}