{% extends 'Journal/base_ToDoList.html' %}
{% block title %}{% endblock %}

{% block content %}
    <h1>{{ checklist.name }} </h1>
    <form method="post" action = "#">
        {% csrf_token %}

        <ul>

            {% for item in checklist.item_set.all %}
                {%  if item.checked == True %}
                    <li> <input type="checkbox" value ="clicked" name ="c{{item.id}}" checked>  {{ item.text }} </li>
                {% else %}
                    <li> <input type="checkbox" value ="clicked" name ="c{{item.id}}">{{ item.text }} </li>
                {% endif %}
            {% endfor %}

        </ul>

        <button type="submit" name="save" value="save">Save</button>
        <input type="text" name ="newItemText">
        <button type="submit" name="newItem" value="newItem"> Add Item </button>

    </form>
{% endblock %}