<H1> Your Lists:</H1>
{#<p>{{ ListCollection }}</p>#}
<ul class="list-group-flush w-75">
{% for td in ListCollection %}

        <li class="list-group-item p-2 btn btn-outline-info ">


            <a class = "text-decoration-none text-black " href="/{{ td.id }}"> {{ td.id }}. {{  td.name  }}  </a>

            <span
                hx-delete="{% url 'removeList' td.id %}"
                hx-target="#listdisplayer"
                hx-confirm="Are you sure?"
                style="cursor:pointer"
{#                name="removeList"#}
                class="float-end">
                <i class="float-end binbut fa fa-lg fa-trash"> </i>
            </span>


        </li>
{% endfor %}
 </ul>