<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title> {% block title %}  HABJJ IT {% endblock %} </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'account_register/css/base.css' %}">

    {% block style %}
        <script src="{% static 'fontawesome/js/all.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static "fontawesome/css/all.min.css" %}" />
    {% endblock %}

</head>

<body>

        <nav class=" w-100 nav navbar-expand-lg fixed-top p-md-3">
            <a class ="nav-item navbar-brand"  href="#">
                    <img height = "45" src="{% static 'Journal/img/workout.png' %}">
                </a>
            <div class=" container-fluid mx-5">
                <button class="navbar-toggler"
                data-bs-target=".navbarNav"
                data-bs-toggle="collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse navbar-nav justify-content-end  navbarNav">
                    <a class ="nav-item"  href="/">Home</a>
                    <a class ="nav-item" href="/create">To Do Manager</a>
                    <a class ="nav-item" href="/2">Contact</a>
                    <a class ="nav-item" href="/register">Account</a>
                </div>
            </div>
        </nav>


        <div id="content" style="background-image: url('{% static "Journal/img/zenphoto.jpg" %}')" class ="main banner-image
        vh-100  justify-content-center align-items-center">
            <div class = "container sasa">
                {% block content %}

                {% endblock %}
            </div>
        </div>




<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>