{% extends "register/base_register.html" %}
{% load crispy_forms_tags %}
{#{% load static %}#}
{% block title %} Register Account {% endblock %}

{% block content %}

    <div class ="row mt-5 border border-primary bg-white p-5" >

        <h2 class=" text-center">Register with e-mail and password</h2>
        <form method = "POST" action = "/" class = "form-group">
            {% csrf_token %}
            {{form|crispy}}
{#            <div class="">#}
{#                <div class="input-group p-2">#}
{#                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>#}
{#                    <input type="email" class="form-control" placeholder="E-mail">#}
{#                </div>#}
{##}
{#                <div class="input-group p-2">#}
{#                    <span class ="input-group-text"> <i class="fa fa-lock"></i> </span>#}
{#                    <input type="password" class="form-control" placeholder="Password" >#}
{#                </div>#}
{#                 <div class="input-group p-2">#}
{#                    <span class ="input-group-text"> <i class="fa fa-lock"></i> </span>#}
{#                    <input type="password" class="form-control" placeholder="Confirm Password" >#}
{#                </div>#}
                    <div class="d-grid">
                    <button type ="submit" name ="save" class="btn btn-success mx-2">Create Account</button>
                    <p class="text-center"> Already have an account? <a href="register/login.html"> Log In </a></p>
                    </div>
{#                </div>#}
        </form>

    </div>
{% endblock %}