<div class="container pt-5 bubbleSection pb-2">
    <div class="row justify-content-center text-center mb-5 g-4 ">
        <div class="col-md-3">
            <div class="feature-1 text-center">
                <div>
                    <div class="wrap-icon icon-1">
                        <i class="bi bi-bar-chart"></i>
                    </div>
                    <h3 class="mb-lg-3 ">Monitor your progress</h3>
                </div>
                <p>Save your Trainings (GI, NO GI, GYM) and check statistics. </p>
            </div>
        </div>
         <div class="col-md-3">
            <div class="feature-1 text-center">
                <div>
                    <div class="wrap-icon icon-1">
                        <i class="bi bi-repeat"></i>
                    </div>
                    <h3 class="mb-lg-3">Manage your Club</h3>
                </div>
                <p>Features for BJJ (e.g) Academies. Schedule & Members. </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="feature-1 text-center">
                <div>
                    <div class="wrap-icon icon-1">
                        <i class="bi bi-diagram-3-fill"></i>
{#                        <i class="bi bi-stack"></i>#}
                    </div>
                    <h3 class="mb-lg-3">Open Grappling Techniques Base</h3>
                </div>
                <p> Add Techniques and suggest changes.  </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="feature-1 text-center">
                <div>
                    <div class="wrap-icon icon-1">
                        <i class="bi bi-card-checklist "></i>
                    </div>
                    <h3 class="mb-lg-3">To Do app</h3>
                </div>
                <p>Save what you want to do and fulfill your plans. </p>
            </div>
        </div>




    </div>
</div>