<div class="container pt-5 bubbleSection pb-2">
    <div class="row justify-content-center text-center mb-5 g-4 ">
        <div class="col-md-3">
            <div class="feature-1 text-center">
                <div class="wrap-icon icon-1">
                  <i class="bi bi-bar-chart"></i>
                </div>
                <h3 class="mb-3">Monitor your progress</h3>
                <p>Save your BJJ classes with JiuJitsuJournal and manage your plans with To Do Manager. </p>
            </div>
        </div>

        <div class="col-md-3">
            <div class="feature-1 text-center">
              <div class="wrap-icon icon-1">
                  <i class="bi bi-journal-check"></i>
              </div>
              <h3 class="mb-3">Write down your plans</h3>
              <p>Manage what you need to do. </p>
            </div>
        </div>

        <div class="col-md-3" >
            <div class="feature-1 text-center">
                <div class="wrap-icon icon-1">
                    <i class="bi bi-repeat"></i>
                </div>
                <h3 class="mb-3">Manage your habits</h3>
                <p>Specify which habits you want to cultivate, and which to cut and track the progress.</p>
            </div>
        </div>

        <div class="col-md-3">
            <div class="feature-1 text-center">
                <div class="wrap-icon icon-1">
                    <i class="bi bi-stack"></i>
                </div>
                <h3 class="mb-3">Open BJJ Techniques Database</h3>
                <p>Every user can add up to 5 techniques without content verification. </p>
            </div>
        </div>
    </div>
</div>