<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'account_register/css/base.css' %}">


    <title> {% block title %}  MATIVATION {% endblock %} </title>
    {% block style %}
        <script src="{% static 'fontawesome/js/all.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static "fontawesome/css/all.min.css" %}" />
    {% endblock %}

</head>

<body>
{%include "../common/navbar.html" %}
<div class = " container-fluid vh-100 pt-5 pb-1 inputsize ">

            <div class =" pt-5 row d-flex justify-content-center align-items-center h-100 " >
                <div class = "col-xl-12 h-100">
                    <div class="card rounded-3 h-100 overflow-hidden">
                        <div class="row g-0 h-100">
                            <div class="col-lg-6 h-100 p-5 position-relative card-mother">

                                    {% include "common/../common/messages.html" %}
                                    {% if user.is_authenticated %}

                                        {% block content %}
                                        {% endblock %}

                                    {% else %}
                                        <a href="/login">Login Here to see content</a>
                                    {% endif %}

                            </div>

                            <div class="col-lg-6 d-flex align-items-center position-relative justify-content-center">
                                <img class="napis" src="{% static 'account_register/img/napis.png' %}">
                                <img class="napis2 " src="{% static 'Journal/img/solomati.png' %}">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>






</body>
</html>