<div class="profileBorderDark p-2  py-4 my-2 mx-4 d-flex justify-content-center ">

    <div class="formIcon d-flex align-items-center pb-1 position-relative w-75 pb-3">
        <i class="bi bi-telephone-fill"></i>
        {{ form.phoneNumber }}
    </div>
</div>

<div class="profileBorderDark p-2 w-75 pt-3 my-2 mx-4 d-flex justify-content-center ">
    <div class="formIcon d-flex align-items-center pb-1 position-relative w-75 pb-3">
        <i class="bi bi-envelope-at-fill"></i>
        {{ form.email }}
    </div>
</div>

<div class="w-75 p-2 mx-4 d-flex justify-content-center ">
    <div class="formIcon pb-1 position-relative  locationWrap w-100">
        <i class="bi bi-geo-alt-fill pt-2"></i>
        {{ form.address }}
    </div>
</div>
<div class="profileBorderDark   p-3 mb-2 mx-4 d-flex justify-content-center ">
    <div class="formIcon pb-1 position-relative  w-100">
        <i class="bi bi-buildings"></i>
        {{ form.city }}
    </div>
</div>

<div class=" profileBorderDark p-2  my-2 mx-4 d-flex justify-content-center">
    <div class="formIcon position-relative d-flex align-items-center locationWrap w-100">
        <i class="bi bi-globe"></i>
        {{ form.website }}
    </div>
</div>