{% load static %}


<div class="leftColContent w-100  d-flex flex-column align-items-center justify-content-start ">
    <div class="profileBorder p-2  py-4 my-2 mx-4 d-flex justify-content-center  ">
        <div class="formIcon  pb-1 w-100 pb-3">
            <i class="bi bi-card-heading"></i>
            {{ form.name }}
        </div>
    </div>
    <div class="profileBorder  px-lg-5 py-4 mx-2 d-flex justify-content-center mt-lg-0">

        <div class="formIcon  pb-1  w-100 pb-3">
            <i class="bi bi-calendar-event"></i>
            {{ form.estabilished }}
        </div>
    </div>
    <div class="profileBorder p-2  py-5 my-2
     mx-1 mx-lg-4 d-flex justify-content-center h-50">
        <div class="formIcon 1  w-100 pb-3">
{#            <i class="bi bi-braces"></i>#}
            <i class="bi bi-file-text-fill pt-1"></i>
            {{ form.description }}
        </div>

    </div>
</div>