{% load static %}
{% load i18n %}
<div class="clubProfile clubContent position-relative  overflow-hidden
 min-vh-100  ">

    <div class="profileBackground w-100  ">
        {% if success %}
            <div class="savedWrap bg-success px-3">
                <i class="bi bi-check2 fa-2x"></i>
                <h4>{% trans "Saved correctly" %}</h4>
            </div>
        {% endif %}
    </div>
    {% if authorized %}
        <form enctype="multipart/form-data"
              class="min-vh-100 h-100"
              hx-target=".Clubscontent"
              hx-post="."
              hx-trigger="change delay:600ms, submit">
            {{ csrf.token }}

            <div class="row h-100 min-vh-100 ">

                <div class="col-md-6 d-flex align-items-center justify-content-start
                 flex-column position-relative">
                    {% include 'Clubs/Clubs_reloadContent_profileInfo.html' %}


                    {% include 'Clubs/clubs_reloadContent_leftColumn.html' %}


                </div>


                {#                                    <button#}
                {#                                            type="button"#}
                {#                                            class="saveClubBtn btn-outline-primary  btn p-3 mt-5#}
                {#                                          text-white w-75 "#}
                {#                                            hx-post="."#}
                {#                                            hx-target=".Clubscontent">#}
                {#                                        Save Info#}
                {#                                    </button>#}

                <div class="rightSideProfile col-md-6  px-3 d-flex flex-column align-items-center">

                    {% include 'Clubs/Clubs_reloadContent_rightColumn.html' %}
                    {{ form.errors }}
                </div>
            </div>

        </form>

    {% else %}
        {% include 'Clubs/unauthorized.html' %}
    {% endif %}
</div>