{% extends base_template %}{#{% if %}#}
{% block content %}
{% if not userHasClub %}
     {% include 'Clubs/noClub.html' %}
{% else %}

{% include 'Clubs/membersModals.html' %}

<div class="row p-0 m-0">
    <div class="clubsListWrap px-lg-5 px-2  col-12 col-xl-8 h-100 navPadding membersWrap
    vh-100 overflow-hidden">
        {% if Club.name %}
            <span class="text-center">
            <h2 class=" font-weight-600">
                {{ Club.name }}
            </h2>
            <h3> Members</h3>
        </span>
        {% endif %}

        <div class="clubsListWrapper d-flex flex-column  px-3
        align-items-center overflow-auto  customScroll">


            <hr class="text-white mx-5 my-3">
{#            <div class="techniquesSearch d-flex align-items-center pb-1 position-relative w-75 pb-3">#}
{#                <i class="bi bi-search"></i>#}
{#                <input class="searchBox py-1 " type="text" placeholder="Search ">#}
{#            </div>#}

            {#        <ul class=" customScroll  h-100 w-100 px-5 d-flex flex-column align-items-center overflow-auto" multiple>#}
            {##}
            {#            {% for profile, member in profiles.items %}#}
            {#                <li#}
            {#                        hx-target="#Clubs_view"#}
            {#                    value="{{  technique.EnglishName }}"#}
            {#                        class="memberItem techniqueOption nowrap cursor-pointer#}
            {#                          w-100 list-group-item p-2 d-flex align-items-center mb-1 d-block position-relative">#}
            {#                    <h1>{{ forloop.counter }}.</h1>#}
            {##}
            {#                    <div class=" profilePicture smallProfile  profile  "#}
            {#                         style="background-image: url({{ profile.avatar.url }})">#}
            {##}
            {#                    </div>#}
            {##}
            {#                    <h2 class="listName">#}
            {#                        {% if profile.firstName %}#}
            {#                            {{ profile.firstName }}#}
            {#                        {% endif %}#}
            {#                        {% if profile.lastName %}#}
            {#                            {{ profile.lastName }}#}
            {#                        {% endif %}#}
            {#                        {% if not profile.lastName and not profile.firstName %}#}
            {#                            User Anonymous#}
            {#                        {% endif %}</h2>#}
            {##}
            {#                    <div class="memberType d-flex justify-content-between">#}
            {#                        <div class="personIcon">#}
            {#                            {% if member.authorized == 'FULL' %}#}
            {#                                <i class="bi bi-person-fill-gear"></i>#}
            {#                                <i class="bi bi-person-fill-add"></i>#}
            {#                            {% endif %}#}
            {#                            {% if member.authorized == 'TRAININGS' %}#}
            {#                                <i class="bi bi-person-fill-add"></i>#}
            {#                            {% endif %}#}
            {#                        </div>#}
            {##}
            {##}
            {#                        <h2 class="profileBelt">{{ profile.belt }}</h2>#}
            {#                        <h2 class="">{{ member.memberType }}</h2>#}
            {#                    </div>#}
            {#                </li>#}
            {##}
            {#                {% endfor %}#}
            {##}
            {#            {% endfor %}#}
            {##}
            {#        </ul>#}
            {#        #}

            <table class="w-100 membersTable h-100  px-lg-5 overflow-hidden">

                {% for profile, member in profiles.items %}


                    <tr
                            data-toggle="modal"
                            data-target="#memberProfile"
                            hx-target="#memberProfile"
                            hx-get="{% url 'memberProfile' member.club_id  profile.user_id %}"
                            class="my-2 proBorder memberItem techniqueOption  nowrap cursor-pointer
{#                          align-items-center mb-1 position-relative">#}
                           d-flex flex-wrap align-items-center mb-1 position-relative overflow-hidden">
                        <th class="memberh1 px-1 p-lg-1  mb-lg-0 memberCounter">{{ forloop.counter }}.</th>

                        {#                        <th/>#}
                        {##}
                        {#                        </th>#}
                        <th class="memberh2 listName d-flex align-items-center
                        flex-row flex-xl-row position-relative justify-content-xl-start">
                            <div class=" profilePicture smallProfile  profile  "
                                 style="background-image: url({{ profile.avatar.url }})">
                            </div>

                            <div class="nameIcon ">
                                <div class="personIcon text-center d-flex flex-column">
                                    {% if authorized %}
                                        {% if member.authorized == 'FULL' %}

                                              <i class="bi bi-person-fill-gear"></i>



                                                <i class="bi bi-person-fill-add"></i>

                                        {% endif %}
                                        {% if member.authorized == 'TRAININGS' %}

                                                <i class="bi bi-person-fill-add"></i>

                                        {% endif %}
                                    {% endif %}
                                </div>

                                <h2 class="memberName text-left ">
                                    {{ profile.firstName }}

                                    {{ profile.lastName }}
                                </h2>
                            </div>

                        </th>

                        <th class="memberType d-flex justify-content-between">
                            <h2 class="profileBelt">{{ profile.belt }}</h2>
                            <h2 class="">{{ member.memberType }}</h2>
                        </th>
                    </tr>

                    {#                {% endfor %}#}

                {% endfor %}

            </table>

        </div>
    </div>

    <div class="col-xl-4 col-12 rightMembersCol navPadding text-white d-flex
flex-column align-items-center px-1 px-lg-5">

        {% if Club %}
            <button type="button"
                    class="btn w-50 btn-primary leaveBtn text-center"
                    data-toggle="modal"
                    {% if not authorized %} data-target="#leaveClub" {% endif %}
                    {% if authorized %} data-target="#cantLeave" {% endif %}
            >
                <i class="bi bi-box-arrow-right"></i>
                <h3>Leave Club</h3>

            </button>
            <div class="clubRequests w-100 text-center mt-2 mt-lg-4">
                {% if authorized %}
                    <h1> Requests</h1>
                    {% if requestsDict|length > 0 %}
                        {% include 'Clubs/clubRequests.html' %}
                    {% endif %}

                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
{% endif %}
{% endblock %}
