<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% include 'main/../../../main/templates/common/load_basic_scripts.html' %}
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
    <title> {% block title %}  MATIVATION {% endblock %} </title>

</head>

<body  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>


  {%include "common/navbar.html" %}
        <div class = "BJR container-fluid vh-100 p-0  overflow-hidden">

            <div class =" row  h-100" >

                    {% if user.is_authenticated %}

                        {% include "BJJournal/BJR_leftsideMenu.html" %}

                        <div class="BJR_content col-lg-10 col-md-9-5  position-relative p-0">

                            {% block content %}
                            {% endblock %}
                        </div>


                    {% else %}
                        <a href="/login">Login Here to see content</a>
                    {% endif %}

            </div>
        </div>


{#    {% include "common/foo ter.html" %}#}
    <script>
        document.body.addEventListener('htmx:configRequest', function(evt) {
            evt.detail.headers['X-CSRFToken'] = '{{csrf_token}}'
        });
    </script>

        {% block script %}

        {% endblock %}



</body>
</html>