{% load static %}
<div class=" px-4 bearsorry navPadding text-white d-flex flex-column align-items-center justify-content-around vh-100">
    <h1> Looks like you don't have a Club, so there is no content to show</h1>
    <div class="px-3">
          <img src="{% static 'Clubs/sorry.png' %}">
    </div>

    <h2> Please go to <i class="bi bi-list-columns-reverse"></i>
        <a class="text-primary" href="{% url 'clubsList' %}">Clubs List</a> and join a Club, or create one if you are owner.</h2>

</div>