<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
     {% include 'main/../common/load_basic_scripts.html' %}
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
    <title> {% block title %}  Mativation {% endblock %} </title>
</head>

<body  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% include "common/navbar.html" %}

            {% block content %}

            {% endblock %}



{% include "common/footer.html" %}

    <script>
    document.body.addEventListener('htmx:configRequest', function(evt) {
        evt.detail.headers['X-CSRFToken] = '{{csrf_token}}'
    });
    </script>

</body>
</html>