<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% include 'main/../common/load_basic_scripts.html' %}
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
    <title> {% block title %}  MATIVATED {% endblock %} </title>
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% include "common/navbar.html" %}

    <div class="min-vh-100 vw-100 container-fluid mx-0  p-0">
        {% block content %}

        {% endblock %}
    </div>


    {% include "common/footer.html" %}

    <script>
        document.body.addEventListener('htmx:configRequest', function (evt) {
            evt.detail.headers['X-CSRFToken] = '{{csrf_token}}'
        });
    </script>
      <script type="text/javascript" src="{% static 'main/scripts.js' %}"></script>
</body>
</html>