{% extends 'main/base.html' %}
{% load static %}
{% block title %}
{% load i18n %}

{% endblock %}
{% block content %}
    <main class="page landing-page ">
 {% include 'common/messages.html' %}
        <section class="clean-block clean-hero position-relative p-5">
            <div class="wave">

                <svg width="100%" height="355px"
                     viewBox="0 0 1920 355" version="1.1"
                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FAF9F6">
                            <path d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,757 L1017.15166,757 L0,757 L0,439.134243 Z"
                                  id="Path"></path>
                        </g>
                    </g>
                </svg>
            </div>

            <div class=" w-100 text1 position-absolute py-4 px-0 indexHeader">
                <h2 class="px-4">{% trans "Do you love Jiu Jitsu? This app is created for you!"%}</h2>
                <p class="px-2">{% trans "Know your needs - manage your habits!"  %}  </p>
                <h4 class="MATIVATED"> MATIVATED (beta version) </h4>

                   <a class="btn btn-light btn-lg my-1"
                   type="button"
                      href="{% url 'magiclogin' %}"

                > <i class="bi bi-key"></i> {% trans "Log in to Test Account" %}</a>

                <a class="btn btn-outline-light btn-lg mx-4 my-1"
                   type="button"
                    href="#bubble"
                >{% trans "Learn More" %}</a>

                 <a class="btn btn-light btn-lg my-1"
                   type="button"
                   href="https://gitfront.io/r/user-3737884/PR2VYxcfTMG1/MATIVATED/"
                >{% trans "Check Repository" %} <i class="bi bi-box-arrow-up-right"></i></a>

            </div>

        </section>


        <section class="clean-block clean-info dark w-100">
            {#             four bubbles section#}
            <div id="bubble" class="container-fluid bubbleContainer navStyling">
                {% include 'main/indexElements/bubbleSection.html' %}
            </div>
            <div class="container-fluid silhouetteContainer w-100">
                <div class="d-flex justify-content-center align-items-center py-5">
                    <div class="silhouette">
                        {% include 'main/svg/svgele2.svg' %}
                    </div>
                </div>
            </div>
            {#                         buddha section#}
            <div class="container-fluid buddha-fluid p-lg-5 p-2">
                {% include 'main/indexElements/buddhaSection.html' %}
            </div>


        </section>

        <section class="clean-block ">
            <div class="container-fluid  w-100 features px-5 pt-5 pb-3">
                <div class="block-heading py-3">
                    <h2 class="MATIVATED rajdhani ">Features</h2>
                    <p> <h4 class="MATIVATED d-inline">MATIVATED</h4> is a set of tools for Individuals and Clubs
                    willing to improve in Jiu Jitsu.
                    <p>
                </div>
                <div class="row justify-content-center py-lg-4">
                    <div class="col-md-4 feature-box mb-3 mb-lg-0">
                        <i class="bi bi-collection-fill"></i>
                        <h4>Training Sessions </h4>
                        <p> Save training type, length, techniques etc. in BJJournal. Measure your progress and check
                            statistics.</p>
                    </div>
                    <div class="col-md-4 feature-box mb-3 mb-lg-0"><i class="bi bi-people-fill"></i>
                        <h4>Clubs </h4>
                        <p>Join Club with your sparring partners.
                            Set Schedule & create Club Training Sessions, so others can attend.</p>
                    </div>
                </div>
                <div class="row justify-content-center py-lg-4">
                    <div class="col-md-4 feature-box mb-3 mb-lg-0"><i class="bi  bi-diagram-3-fill"></i>
                        <h4>Techniques Base</h4>
                        <p>BJJ / Judo / Grappling Techniques open database. Every user can add up to 5 techniques before
                            verification. </p>
                    </div>
                    <div class="col-md-4 feature-box mb-3 mb-lg-0"><i class="bi bi-person-square"></i>
                        <h4>Profile</h4>
                        <p>Create your profile and let others see you! Only people from your Club can see your
                            profile</p>
                    </div>
                </div>
                {#                    <div class="col-md-5 feature-box"><i class="fas fa-helicopter"></i>#}
                {#                        <h4>Quotes</h4>#}
                {#                        <p>Create profile of your favourite thinker and add inspirational quotes.</p>#}
                {#                    </div>#}
            </div>

        </section>
        {#        <section class="clean-block slider dark">#}
        {#            <div class="container">#}
        {#                <div class="block-heading">#}
        {#                    <h2 class="text-info">Slider</h2>#}
        {#                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>#}
        {#                </div>#}
        {#                <div id="carousel-1" class="carousel slide" data-bs-ride="carousel">#}
        {#                    <div class="carousel-inner">#}
        {#                        <div class="carousel-item active"><img class="w-100 d-block" src="scenery/image1.jpg" alt="Slide Image" /></div>#}
        {#                        <div class="carousel-item"><img class="w-100 d-block" src="scenery/image4.jpg" alt="Slide Image" /></div>#}
        {#                        <div class="carousel-item"><img class="w-100 d-block" src="scenery/image6.jpg" alt="Slide Image" /></div>#}
        {#                    </div>#}
        {#                    <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>#}
        {#                    <ol class="carousel-indicators">#}
        {#                        <li class="active" data-bs-target="#carousel-1" data-bs-slide-to="0"></li>#}
        {#                        <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>#}
        {#                        <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li>#}
        {#                    </ol>#}
        {#                </div>#}
        {#            </div>#}
        {#        </section>#}
        {#        <section class="clean-block about-us">#}
        {#            <div class="container">#}
        {#                <div class="block-heading">#}
        {#                    <h2 class="text-info">About </h2>#}
        {#                    <p>This is a non-commercial product created by a single person. If you like the product and would like to support: Go to </p>#}
        {#                    Support#}
        {#                </div>#}
        {#                <div class="row justify-content-center">#}
        {#                    <div class="col-sm-6 col-lg-4">#}
        {#                        <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="avatars/avatar3.jpg" />#}
        {#                            <div class="card-body info">#}
        {#                                <h4 class="card-title">Ally Sanders</h4>#}
        {#                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>#}
        {#                                <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </section>#}
    </main>












{% endblock %}