{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<style>
    .clean-hero::before{
        background-image: url("{% static 'main/img/jonathan-borba.webp' %}");

    }
</style>
    <main class="page landing-page ">
 {% include 'common/messages.html' %}

        <section class="clean-block clean-hero position-relative p-5">
            <div class="wave">

                <svg width="100%" height="355px"
                     viewBox="0 0 1920 355" version="1.1"
                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FAF9F6">
                            <path d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,757 L1017.15166,757 L0,757 L0,439.134243 Z"
                                  id="Path"></path>
                        </g>
                    </g>
                </svg>
            </div>

            <div class=" w-100 text1 position-absolute py-4 px-0 indexHeader">
                <h2 class="px-4">{% trans "Do you love Jiu Jitsu? This app is created for you!"%}</h2>
                <p class="px-2">{% trans "Know your needs - manage your habits!"  %}  </p>
                <h4 > <span class="MATIVATED" >MATIVATED</span> (test version) </h4>

                   <a class="btn btn-light btn-lg my-1"
                   type="button"
                      href="{% url 'magiclogin' %}"

                > <i class="bi bi-key"></i> {% trans "Log in to Test Account" %}</a>

                <a class="btn btn-outline-light btn-lg mx-4 my-1"
                   type="button"
                    href="#bubble"
                >{% trans "Learn More" %}</a>

{#                 <a class="btn btn-light btn-lg my-1"#}
{#                   type="button"#}
{#                   href="https://gitfront.io/r/user-3737884/PR2VYxcfTMG1/MATIVATED/"#}
{#                >{% trans "Check Repository" %} <i class="bi bi-box-arrow-up-right"></i></a>#}

            </div>

        </section>


        <section class="clean-block clean-info dark w-100">
            {#             four bubbles section#}
            <div id="bubble" class="container-fluid bubbleContainer navStyling">
                {% include 'main/indexElements/bubbleSection.html' %}
            </div>
            <div class="container-fluid silhouetteContainer w-100">
                <div class="d-flex justify-content-center align-items-center py-5">
                    <div class="silhouette">
                        {% include 'main/svg/svgele2.svg' %}
                    </div>
                </div>
            </div>
            {#                         buddha section#}
            <div class="container-fluid buddha-fluid p-lg-5 p-2">
                {% include 'main/indexElements/buddhaSection.html' %}
            </div>


        </section>

        <section class="clean-block ">
            <div class="container-fluid  w-100 features px-5 pt-5 pb-3">
                <div class="block-heading py-3">
                    <h2 class="MATIVATED rajdhani ">Features</h2>
                    <p> <h4 class="MATIVATED d-inline">MATIVATED</h4> is a set of tools for Individuals and Clubs
                    willing to improve in Jiu Jitsu.
                    <p>
                </div>
                <div class="row justify-content-center py-lg-4">
                    <div class="col-md-4 feature-box mb-3 mb-lg-0">
                        <i class="bi bi-collection-fill"></i>
                        <h4>Training Sessions </h4>
                        <p> Save training type, length, techniques etc. in BJJournal. Measure your progress and check
                            statistics.</p>
                    </div>
                    <div class="col-md-4 feature-box mb-3 mb-lg-0"><i class="bi bi-people-fill"></i>
                        <h4>Clubs </h4>
                        <p>Join Club with your sparring partners.
                            Set Schedule & create Club Training Sessions, so others can attend.</p>
                    </div>
                </div>
                <div class="row justify-content-center py-lg-4">
                    <div class="col-md-4 feature-box mb-3 mb-lg-0"><i class="bi  bi-diagram-3-fill"></i>
                        <h4>Techniques Base</h4>
                        <p>BJJ / Judo / Grappling Techniques open database. Every user can add up to 5 techniques before
                            verification. </p>
                    </div>
                    <div class="col-md-4 feature-box mb-3 mb-lg-0"><i class="bi bi-person-square"></i>
                        <h4>Profile</h4>
                        <p>Create your profile and let others see you! Only people from your Club can see your
                            profile</p>
                    </div>
                </div>
            </div>

        </section>
    </main>












{% endblock %}