<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title> {% block title %}  MATivation {% endblock %} </title>
    {% include 'main/../../../main/templates/common/load_basic_scripts.html' %}
    <link rel="stylesheet" href="{% static 'account_register/css/base.css' %}">
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
         {% include "common/navbar.html" %}

        <div class="container-fluid vh-100 pt-5 pb-1 inputsize">

            <div class=" py-5 row d-flex justify-content-center align-items-center h-100 " >
                <div class = "col-xl-11 h-100">
                    <div class="card rounded-3 h-100 overflow-hidden">
                        <div class="row g-0 h-100">
                            <div class="navStyling col-lg-6 h-100 p-0 position-relative card-mother">
                                    {% include "common/messages.html" %}

                                    {% block content %}
                                    {% endblock %}

                            </div>

                            <div class="col-lg-6 d-flex align-items-center banner-image">
                                <img class="napis" src="{% static 'account_register/img/napis.png' %}">
                                <div class="text-white font-weight-bold px-3 py-4 p-md-5 mx-md-4" >
                                    <h2 class="mb-4">Every Journey begins with a single step <step></step></h2>
                                    <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


</body>
</html>

{#    <div>#}
{#      <strong>Menu:</strong>#}
{#      <ul>#}
{#        {% if user.is_authenticated %}#}
{#        <li><a href="{% url 'account_email' %}">Change E-mail</a></li>#}
{#        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>#}
{#        {% else %}#}
{#        <li><a href="{% url 'account_login' %}">Sign In</a></li>#}
{#        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>#}
{#        {% endif %}#}
{#      </ul>#}
{#    </div>#}
