<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title> {% block title %}  MATIVATED {% endblock %} </title>
    {% include 'main/../../../main/templates/common/load_basic_scripts.html' %}
    <base href="/">
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
</head>

<body>
{% include "common/navbar.html" %}

<main class="container-fluid  accMain  p-0 m-0 main navStyling overflow-hidden">


    <div class="row g-0 h-100 w-100 p-0 ">
        <div class=" col-lg-6 h-100 p-0 position-relative card-mother navPadding min-vh-100">
            <div class="px-3 text-white">
                {% block content %}


                {% endblock %}
            </div>
        </div>

        <div
                style="background-image: url({% static 'main/img/sam-mgrdichian5.webp' %}"
                class="col-lg-6 d-flex flex-column  banner-image h-100 navPadding min-vh-100 align-items-center">

            {#                                <img class="napis" src="{% static 'account_register/img/napis.png' %}">#}
            <div class="text-white   font-weight-bold px-5  w-100">
                <h2 class="mb-3 everyJourney "> Every Journey begins with a single step

                </h2>
                <h2 class="trainJitsu -center mb-0 px-1">Train jiu-jitsu, save your progress and advance faster.</h2>
            </div>


            <img src="{% static 'account_register/img/yyang2.png' %}">

        </div>

    </div>
</main>
{% include "common/footer.html" %}


    <script type="text/javascript" src="{% static 'main/scripts.js' %}"></script>
<script type="text/javascript" src="{% static 'account_register/scripts.js' %}"></script>
<script>
    document.body.addEventListener('htmx:configRequest', function (evt) {
        evt.detail.headers['X-CSRFToken'] = '{{csrf_token}}'
    });
</script>
</body>
</html>

{#    <div>#}
{#      <strong>Menu:</strong>#}
{#      <ul>#}
{#        {% if user.is_authenticated %}#}
{#        <li><a href="{% url 'account_email' %}">Change E-mail</a></li>#}
{#        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>#}
{#        {% else %}#}
{#        <li><a href="{% url 'account_login' %}">Sign In</a></li>#}
{#        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>#}
{#        {% endif %}#}
{#      </ul>#}
{#    </div>#}
