
body{
    font-family:'Lato', sans-serif !important;
    font-size:2.2vh;
}

.inputsize{
    background:url('../img/10.jpg');
    object-fit: contain;
    font-family: 'Roboto';
}
.banner-image{
    background: url("../img/jess-bailey.jpg");
    background-size:cover;
    position:relative;
}
.napis{
    width:100%;
    position:absolute;
    top:0;
    left:0;
    height:10vh;
    font-weight:bolder;
}
.change{
    padding-top:100px !important;
}

.card-mother{
    background:url("../img/10aa.jpg");
    object-fit: contain;

}
.binbut{
    border:none;
}
