
nav a img{
    width:60px;
}


.napis{
    width:100%;
    position:absolute;
    top:0;
    left:0;
    height:10vh;
    font-weight:bolder;
}
.change{
    padding-top:100px !important;
}

.card-mother{
    background:url("account_register/static/account_register/img/10aa.jpg");
    object-fit: contain;

}
.binbut{
    border:none;
}
.formContent{
    font-size:1.4vw;
}
.formContent .btn{
    box-shadow: 0 1px 3px 1px #ddd;
    font-size: 1.02vw
}
.btn-google {
    color: #545454;
    background-color: #ffffff;
}
.or-container {
    align-items: center;
    color: #ccc;
    display: flex;
    margin: 25px 0;
}
.line-separator {
    background-color: #ccc;
    flex-grow: 5;
    height: 1px;
}
.or-label {
    flex-grow: 1;
    margin: 0 15px;
    text-align: center;
}