
body{
    font-family:'Lato', sans-serif !important;
    font-size:2.2vh;
}
nav{
      background: rgba(255,255,255,0.088);
    z-index:1;
    padding:0 25px;
    line-height: 45px;
    list-style: none;
    font-family: 'Roboto', serif;


    }
nav a{
    padding:6px 8px 6px 16px;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;


}
nav a img{
    width:60px;
}
.inputsize{
    background:url("../img/10.jpg");
    object-fit: contain;
    font-family: 'Roboto';
}
.banner-image{
    background: url("../img/jess-bailey.jpg");
    background-size:cover;
    position:relative;
}
.napis{
    width:100%;
    position:absolute;
    top:0;
    left:0;
    height:10vh;
    font-weight:bolder;
}
.change{
    padding-top:100px !important;
}

.card-mother{
    background:url("../img/10aa.jpg");
    object-fit: contain;

}
.binbut{
    border:none;
}
.formContent{
    font-size:1.4vw;
}
.formContent .btn{
    box-shadow: 0 1px 3px 1px #ddd;
    font-size: 1.02vw
}
.btn-google {
    color: #545454;
    background-color: #ffffff;
}
.or-container {
    align-items: center;
    color: #ccc;
    display: flex;
    margin: 25px 0;
}
.line-separator {
    background-color: #ccc;
    flex-grow: 5;
    height: 1px;
}
.or-label {
    flex-grow: 1;
    margin: 0 15px;
    text-align: center;
}