
body{
    /*font-family:'Lato', sans-serif !important;*/
    font-size:2.2vh;
}

.landing-page {
text-align: center;
}
nav {
    background: rgba(255, 255, 255, 0.088);
    z-index: 1;
    padding: 0 25px;
    line-height: 45px;
    list-style: none;
    font-family: 'Roboto', serif
}
@media (min-width: 576px) {
    .page {
        padding-top: 5rem;
    }

    .clean-block.clean-hero {
        min-height: 680px;
    }

      .clean-block.clean-info {
        padding-left: 0px;
        padding-right: 0px;
        text-align: inherit;
      }
}
.img-thumbnail {
  padding: .25rem;
  max-width: 100%;
  height: auto;
}




.clean-block.clean-hero {
  position: relative;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0;
}


nav a{
    padding:6px 8px 6px 16px;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;


}
nav a img{
    width:60px;
}
.inputsize {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    /*background:url("../img/10.jpg");*/
    object-fit: contain;
}


.napis{
    top:0;
    left:0;
    height:10vh;
    font-weight:bolder;
}
.change{
    padding-top:100px !important;
}
.card-mother *{
     color:#3ede93;

}
.card-mother{
    /*background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);*/
    background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);
    /*background:url("../img/10aa.jpg");*/
    object-fit: contain;

}
.binbut{
    border:none;
    transition: transform .2s;
}
.binbut:hover{
    transform: scale(1.2);
}
.formContent{
    font-size:1.4vw;
}
.formContent .btn{
    box-shadow: 0 1px 3px 1px #ddd;
    font-size: 1.02vw
}
.btn-google {
    color: #545454;
    background-color: #ffffff;
}
.or-container {
    align-items: center;
    color: #ccc;
    display: flex;
    margin: 25px 0;
}
.line-separator {
    background-color: #ccc;
    flex-grow: 5;
    height: 1px;
}
.or-label {
    flex-grow: 1;
    margin: 0 15px;
    text-align: center;
}
.gradient-custom{
    background-color:#f2f3f4
}
.itemTextField{
    border:none;
}
#item-list  .input-group-prepend{
    background-color:#7FDBFF;
}
#singleList h1{
    color: #5753C9;
}
#singleList{
    color:black !important;
}
*, *::before, *::after{
    box-sizing:border-box;
}
h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
}

